<template>
  <div style="height: 100%">
    <div class="about">
      <div class="element-centrer">
        <h1 style="color: white; text-align: center">
          {{ $t('about') }}
        </h1>
        <hr style=" height: 2px; border: none; color: #333; background-color: white;">
      </div>
      <v-img
        class="v-responsive"
        style="z-index: 1"
        max-height="500"
        src="@/assets/Food_home.png"
      />
      <br><br><br><br>
      <h2 class="text-center">
        {{ this.$t('aboutDesc') }}
      </h2>
      <br><br><br><br>
    </div>
  </div>
</template>

<script>
</script>

<style scoped>
 .element-centrer {
        z-index: 2;
        position: absolute;
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
</style>
