<template>
  <v-container>
    <div
      v-if="this.$i18n.locale === 'fr-FR'"
      style="margin-top: 150px; margin-bottom: 50px; text-align: justify"
    >
      <h1 style="text-align: center; font-weight: bold">
        Conditions générales d'Eatoo
      </h1>
      <br><br><br><br><br>
      <h3 style="text-align: center">
        - Conditions générales d'utilisation -
      </h3>
      <span>
        <br><br>
        <h4 style="text-align: center">ARTICLE 1 : Objet</h4>
        <br>
        Les présentes « conditions générales d'utilisation » ont pour objet l'encadrement juridique de l’utilisation du site Eatoo et de ses services. Ce contrat est conclu entre : Le gérant du site internet, ci-après désigné «l’Éditeur», Toute personne physique ou morale souhaitant accéder au site et à ses services, ci-après appelé «l’Utilisateur». Les conditions générales d'utilisation doivent être acceptées par tout Utilisateur, et son accès au site vaut acceptation de ces conditions.
        <br><br>
        <h4 style="text-align: center">ARTICLE 2 : Mentions légales</h4>
        <br>
        Pour les personnes morales : Le site Eatoo est édité par la société Eatoo, [statut juridique (SAS, SARL, etc.)] au capital de 0 €, dont le siège social est situé à Lille. La société est représentée par EatooApp. Pour les personnes physiques : Le site Eatoo est édité par EatooApp, domicilié à Lille.
        <br><br>
        <h4 style="text-align: center">ARTICLE 3 : Accès aux services</h4>
        <br>
        Tout Utilisateur ayant accès a internet peut accéder gratuitement et depuis n’importe où au site. Les frais supportés par l’Utilisateur pour y accéder (connexion internet, matériel informatique, etc.) ne sont pas à la charge d’EatooApp.

        Les services suivants ne sont pas accessible pour l’Utilisateur que s’il est membre du site (c’est-à-dire qu’il est identifié à l’aide de ses identifiants de connexion).

        L’Utilisateur du site Eatoo a accès aux services suivants :

        <br><br>
        <h5 style="text-align: center">3.1 - Création de compte</h5>
        <br>


        Pour la création de votre compte sur Eatoo, les informations personnelles suivantes vous seront demander et obligatoire pour procéder au mieux de l’utilisation de Eatoo.

        Adresse mail.
        Nom d’utilisateur
        Nom
        Prénom
        Mot de passe
        Numéro de téléphone

        <br><br>
        <h5 style="text-align: center">3.2 - Se connecter</h5>
        <br>


        Pour se connecter et utiliser Eatoo, l’utilisateur doit renseigner son «Nom d’utilisateur» ou bien son «Adresse mail», ainsi que son  «Mot de passe».

        <br><br>
        <h5 style="text-align: center">3.3 - Liste des plats en ligne</h5>
        <br>


        L’utilisateur aura accès à toutes les annonces de plats d'utilisateur disponible sur Eatoo, contenant les informations suivantes:
        - Informations du plat (ref. 3.5)
        - Nom d’utilisateur de la personne ayant publier l’annonce
        - La distance séparant l’Utilisateur à l’adresse de livraison

        <br><br>
        <h5 style="text-align: center">3.4 - Profil personnel</h5>
        <br>


        Le profil de l’Utilisateur contient les informations suivantes:
        <br>
        - Photo de profil
        <br>
        - Nom et Prénom
        <br>
        - Nom d’Utilisateur
        <br>
        - Age
        <br>
        - Adresse mail
        <br>
        - Numéro de téléphone
        <br>
        - Adresse postale
        <br><br>

        <strong>Les informations contenu dans le profil sont à titre personnelles et confidentielles à l’exception de:</strong>

        <br><br>
        <h6 style="text-align: center">3.4.1 - Nom d’Utilisateur</h6>
        <br>


        Le nom d’utilisateur sera utilisé afin de permettre au deux partie « l’Utilisateur vendeur » et « l’Utilisateur acheteur » de pouvoir s’identifier lors d’une commande.

        <br><br>
        <h6 style="text-align: center">3.4.2 - Numéro de téléphone</h6>
        <br>


        Le numéro de téléphone sera utilisé afin de permettre la prise de contact entre les deux partie « l’Utilisateur vendeur » et « l’Utilisateur acheteur » de pouvoir se contacter une fois la commande effectué et ainsi procédé plus simple à la livraison de la commande.

        <br><br>
        <h6 style="text-align: center">3.4.3 - Adresse postale</h6>
        <br>


        L’adresse postale sera utilisé afin de permettre à Eatoo de définir une distance entre « l’Utilisateur acheteur » et l’annonce mise en ligne par « l’Utilisateur vendeur ».
        Elle est également utiliser une fois une commande effectuer afin de permettre à « l’Utilisateur acheteur » de se rendre à l’adresse afin de récupérer sa commande.

        Les informations contenu dans le profil sont modifiables à l’exception de: «Nom, Prénom, Nom d’utilisateur».

        <br><br>
        <h5 style="text-align: center">3.5 - Création d’un plat</h5>
        <br>


        Lors de la création d’un plat par l’Utilisateur, les informations suivantes sont requises:
        <br>
        - Photo du plat
        <br>
        - Nom du plat
        <br>
        - Ingrédients du plat
        <br>
        - Le nombre de part disponible
        <br>
        - Le prix de la part
        <br>
        - L’heure de livraison
        <br>
        - L’adresse de livraison

        <br><br>
        <h5 style="text-align: center">3.6 - Commande d’un plat</h5>
        <br>


        L’utilisateur souhaitant commander un plat, doit définir le nombres de part qu’il souhaite, il procédera ainsi au payement de celle-ci, puis obtiendra le récapitulatif de sa commande contenant : «Nom du plat», «Numéro de téléphone de l’Utilisateur vendeur», «Heure de livraison», «Adresse de livraison».

        Le site et ses différents services peuvent être interrompus ou suspendus par EatooApp, notamment à l’occasion d’une maintenance, sans obligation de préavis ou de justification.
        <br><br>
        <h4 style="text-align: center">ARTICLE 4 : Responsabilité de l’Utilisateur</h4>
        <br>
        L'Utilisateur est responsable des risques liés à l’utilisation de son identifiant de connexion et de son mot de passe. Le mot de passe de l’Utilisateur doit rester secret. En cas de divulgation de mot de passe, EatooApp décline toute responsabilité. L’Utilisateur assume l’entière responsabilité de l’utilisation qu’il fait des informations et contenus présents sur le site Eatoo. Tout usage du service par l'Utilisateur ayant directement ou indirectement pour conséquence des dommages doit faire l'objet d'une indemnisation au profit du site. Le site permet aux membres de publier sur le site : [Commentaires] ; [Annonces] ; Etc. Le membre s’engage à tenir des propos respectueux des autres et de la loi et accepte que ces publications soient modérées ou refusées par EatooApp, sans obligation de justification. En publiant sur le site, l’Utilisateur cède à la EatooApp le droit non exclusif et gratuit de représenter, reproduire, adapter, modifier, diffuser et distribuer sa publication, directement ou par un tiers autorisé. EatooApp s'engage toutefois à citer le membre en cas d’utilisation de sa publication.

        <br><br>
        <h4 style="text-align: center">ARTICLE 5 : Responsabilité de l’Éditeur</h4>
        <br>
        Tout dysfonctionnement du serveur ou du réseau ne peut engager la responsabilité d’EatooApp. De même, la responsabilité du site ne peut être engagée en cas de force majeure ou du fait imprévisible et insurmontable d'un tiers. Le site Eatoo s'engage à mettre en œuvre tous les moyens nécessaires pour garantir la sécurité et la confidentialité des données. Toutefois, il n’apporte pas une garantie de sécurité totale. EatooApp se réserve la faculté d’une non-garantie de la fiabilité des sources, bien que les informations diffusées sur le site soient réputées fiables.
        <br><br>
        <h4 style="text-align: center">ARTICLE 6 : Propriété intellectuelle</h4>
        <br>
        Les contenus du site Eatoo (logos, textes, éléments graphiques, vidéos, etc.) son protégés par le droit d’auteur, en vertu du Code de la propriété intellectuelle. L’Utilisateur devra obtenir l’autorisation de l’éditeur du site avant toute reproduction, copie ou publication de ces différents contenus. Ces derniers peuvent être utilisés par les utilisateurs à des fins privées ; tout usage commercial est interdit. L’Utilisateur est entièrement responsable de tout contenu qu’il met en ligne et il s’engage à ne pas porter atteinte à un tiers. L’Éditeur du site se réserve le droit de modérer ou de supprimer librement et à tout moment les contenus mis en ligne par les utilisateurs, et ce sans justification.
        <br><br>
        <h4 style="text-align: center">ARTICLE 7 : Données personnelles</h4>
        <br>
        L’Utilisateur doit obligatoirement fournir des informations personnelles pour procéder à son inscription sur le site. L’adresse électronique (e-mail) de l’utilisateur pourra notamment être utilisée par le site Eatoo pour la communication d’informations diverses et la gestion du compte. Eatoo garantie le respect de la vie privée de l’utilisateur, conformément à la loi n°78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés. Le site est déclaré auprès de la CNIL sous le numéro suivant : [numéro]. En vertu des articles 39 et 40 de la loi en date du 6 janvier 1978, l'Utilisateur dispose d'un droit d'accès, de rectification, de suppression et d'opposition de ses données personnelles. L'Utilisateur exerce ce droit via : Son espace personnel sur le site ou par mail à eatoo.app@gmail.com.
        <br>
        Eatoo s’engage à protéger les Données personnelles des Utilisateurs conformément à la Réglementation applicable et dans les conditions détaillées dans notre <a
          style="color: #638548; font-weight: bold"
          href="/privacy"
        >Politique de confidentialité</a>.
        <br><br>
        <h4 style="text-align: center">ARTICLE 8 : Liens hypertextes</h4>
        <br>
        Les domaines vers lesquels mènent les liens hypertextes présents sur le site n’engagent pas la responsabilité de l’Éditeur de Eatoo, qui n’a pas de contrôle sur ces liens. Il est possible pour un tiers de créer un lien vers une page du site Eatoo sans autorisation expresse de l’éditeur.
        <br><br>
        <h4 style="text-align: center">ARTICLE 9 : Évolution des conditions générales d’utilisation</h4>
        <br>
        Le site Eatoo se réserve le droit de modifier les clauses de ces conditions générales d’utilisation à tout moment et sans justification.

        <br><br>
        <h4 style="text-align: center">ARTICLE 10 : Durée du contrat</h4>
        <br>
        La durée du présent contrat est indéterminée. Le contrat produit ses effets à l'égard de l'Utilisateur à compter du début de l’utilisation du service.

        <br><br>
        <h4 style="text-align: center">ARTICLE 11 : Contact</h4>
        <br>
        Pour contacter EatooApp, l’Utilisateur peut passer par la page «Contact» sur le site Eatoo, ou bien par mail à l’adresse suivante: eatoo.app@gmail.com.

        <br><br>
        <h4 style="text-align: center">ARTICLE 12 : Droit applicable et juridiction compétente</h4>
        <br>
        Le présent contrat dépend de la législation française. En cas de litige non résolu à l’amiable entre l’Utilisateur et EatooApp et conformément aux dispositions du Code de la consommation, il vous est possible de recourir à un mode alternatif de règlement des litiges ou à une procédure de médiation conventionnelle. La recherche d’une telle solution amiable interrompt les délais pour agir. A défaut, la juridiction compétente sera déterminée par les règles de droit commun.      </span>

      <br><br><br><br><br>
      <h3 style="text-align: center">
        - Conditions générales de vente -
      </h3>
      <br><br>
      Les présentes conditions s’appliquent à toutes les ventes effectuées sur le site internet Eatoo (ci-après le «
      Site ») ou l’application IOS Eatoo (ci-après l’« Application » et ci-après ensemble, la « Plateforme »).
      Les présentes conditions générales de ventes (ci-après « CGV ») sont conclues entre d’une part EatooApp – SA au
      capital social de 0 € – dont le siège social est à Lille.
      Eatoo et le Client sont dénommés ensemble les « Parties ».
      Les CGV prévalent dans tous les cas sur tout autre document émis qui n’ont qu’une valeur indicative (tels que
      renseignements fournis de façon directe ou publicitaire sur les produits, description et renseignement de nos
      prospectus, catalogues, tarifs, reproduction...).
      Les CGV applicables sont celles en vigueur au jour de la commande effectuée par le Client. Eatoo se réserve le
      droit de modifier les CGV sans préavis qui deviendront applicables aux ventes réalisées postérieurement à la
      modification.
      Les CGV font partie intégrante de notre offre et sont donc systématiquement portées à la connaissance de tout
      Client préalablement à la passation d’une commande. Le fait de passer commande implique nécessairement
      l’acceptation sans aucune réserve et l’adhésion pleine et entière du Client aux CGV. Toute condition contraire
      opposée par le Client sera inopposable à Eatoo, à défaut d’acceptation expresse de notre part, et ce quel que soit
      le moment où elle aura pu être portée à notre connaissance. Aucune signature manuscrite ou électronique n’est
      nécessaire pour engager le Client, le fait pour ce dernier de cliquer sur le bouton "valider et payer" entraîne
      automatiquement l’acceptation par ce dernier des CGV.
      <br><br>
      <h4 style="text-align: center">
        1. Produits et disponibilité
      </h4>
      <br>
      Les annonces de notre offre sont conformes à la réglementation et aux normes en vigueur en France et/ou dans
      l’Union Européenne à la date de leur livraison. Chaque annonces est accompagné d’un descriptif permettant à
      L’Utilisateur de connaître la composition du plat et les caractéristiques essentielles conformément à l’article L.
      111-1 du code de la consommation ; les photos et illustrations n’ont toutefois qu’une valeur indicative.

      Eatoo se réserve le droit de modifier à tout moment et sans préavis son offre. En conséquence, les annonces sont
      disponibles tant qu’ils figurent sur le Site et dans la limite des stocks. En cas d’indisponibilité du plat après
      la passation de la commande, L’Utilisateur sera informé par mail, et aucun paiement ne sera débité ; si le
      paiement a déjà été débité, il pourra, à son choix, soit bénéficier d’un avoir d’un montant équivalent à faire
      valoir sur une prochaine commande Eatoo, soit être remboursé.

      <br><br>
      <h4 style="text-align: center">
        2. Service utilisateur
      </h4>
      <br>

      Pour toutes questions relatives à notre Site, notre service client est à votre disposition :

      <a
        style="color: #638548; font-weight: bold"
        href="/contact"
      >Nous contacter</a>
      ou
      eatoo.app@gmail.com
      <br><br>
      <h4 style="text-align: center">
        3. Accessibilité des services
      </h4>
      <br>


      Le Site est accessible 24/24h et 7/7j, sauf interruption, programmée ou non par Eatoo, notamment pour les besoins
      de sa maintenance, d’une suspension d’activité ou en cas de force majeure. Eatoo ne saurait être tenue responsable
      de tout dommage, quelle qu’en soit la nature, résultant d’une indisponibilité du Site.
      La mise à disposition du compte de L’Utilisateur ne lui ouvre aucun droit et ne crée aucune obligation à la charge
      de Eatoo.
      La transmission d’informations par internet peut ne pas être totalement sécurisée. Bien que Eatoo prenne
      l’ensemble des dispositions requises par la loi pour protéger l’ensemble de vos informations sur notre Site, Eatoo
      ne pourra garantir que la transmission des données à notre Site soit protégée. Cette transmission intervient aux
      risques de l’Utilisateur.
      <br><br>
      <h4 style="text-align: center">
        4. Commandes
      </h4>
      <br>


      Les informations contractuelles, présentées au l’utilisateur en langue française ou anglaise, feront l’objet d’une
      confirmation au moment de la validation par le l’utilisateur de sa première commande.
      L’Utilisateur est entièrement responsable des informations saisies lors de sa commande. A défaut d’être
      complètement renseignée, la commande ne peut être validée.
      En conséquence, notre responsabilité ne saurait être recherchée ni engagée dans le cas où Eatoo serait dans
      l’impossibilité d’exécuter la commande en raison d’erreurs, imprécisions ou omissions relativement à ces
      informations.
      <br><br>
      L’Utilisateur, qui souhaite commander un ou plusieurs produits doit obligatoirement :
      <br>
      – Se connecter en s’identifiant, ou créer un compte utilisateur personnel (« S’inscrire »).
      <br><br>
      Pour ce faire, il devra remplir le formulaire d’inscription sur lequel il indiquera toutes les coordonnées
      demandées.
      Il ne peut y avoir qu’un seul Compte Utilisateur par «Adresse mail» ou «Nom d’utilisateur», correspondant à une
      même adresse email, ou nom d’utilisateur.
      L’Utilisateur est en outre amené à choisir un mot de passe qui devra rester confidentiel et ne pas être divulgué à
      un tiers. L’Utilisateur doit veiller à ne pas réutiliser le même mot de passe que celui associé à son Compte
      Client dans d’autres applications. L’Utilisateur demeure responsable de l’utilisation de son compte et de son mot
      de passe. Il est responsable des restrictions d’accès à son ordinateur, tablette, smartphone ou outil connecté et
      de toutes les activités effectuées depuis son Utilisateur ou avec ses identifiants.
      Pour des raisons de sécurité, EatooApp n’a pas accès aux mots de passe choisis par les Clients, ces derniers étant
      cryptés. EatooApp ne saurait donc les communiquer directement aux Utilisateurs. Les identifiants ne peuvent être
      changés qu’à l’initiative de l’Utilisateur ou sur invitation de EatooApp. Si l’Utilisateur a perdu ou souhaite
      changer son mot de passe, il doit cliquer sur le lien « mot de passe oublié » pour générer un nouveau mot de
      passe. Si l’Utilisateur découvre ou a des raisons de croire que son mot de passe est connu de quelqu’un d’autre,
      ou qu’il est utilisé ou susceptible d’être utilisé de manière non autorisée, il doit en informer EatooApp
      immédiatement.
      L’accès par l’Utilisateur à son Compte est conditionné à son acceptation expresse et au respect des CGV.
      Eatoo ne dispose d’aucun pouvoir de contrôle de la véracité des informations transmises par l’Utilisateur pour la
      création du Compte. En conséquence, Eatoo ne saurait être tenu responsable de fausse déclaration ou d’usurpation
      d’identité effectuée par les Utilisateurs.
      <br><br>
      Les Utilisateurs s’engagent à fournir à Eatoo des informations exactes mises à jour en fonction de leurs
      modifications dans le temps.
      <br>
      – Valider sa commande après l’avoir vérifiée, notamment le lieu de livraison, ainsi que la date et l’heure de
      livraison sélectionnées ;
      <br>
      – Effectuer le paiement dans les conditions prévues ;
      <br>
      – Confirmer sa commande et son règlement.
      <br><br>
      Préalablement à la conclusion du contrat, Eatoo porte à la connaissance de l’Utilisateur, conformément à l’article
      L.221-5 du Code de la consommation, notamment:
      <br>
      Une information sur les caractéristiques essentielles du produit commandé par le Client,
      <br>
      La date et heure de mise à disposition ou de livraison du produit,
      <br>
      Les informations relatives à Eatoo, notamment ses coordonnées postales et téléphoniques,
      <br>
      L’adresse de livraison,
      <br>
      L’identification du numéro de commande,
      <br>
      Le montant total de la commande (prix TTC)
      <br>
      Conformément à la loi, cette commande n’est réputée conclue qu’à compter de notre envoi par e-mail ou SMS d’un
      accusé de réception de commande – ARC (confirmation de commande). Cet e-mail reprendra les informations visées
      ci-dessus. Eatoo se réserve le droit de ne pas confirmer tout bon de commande d’un Utilisateur avec lequel il
      existe ou existerait un litige ou qui n’aurait pas réglé, ou réglé partiellement, une précédente commande.
      <br><br>
      <h4 style="text-align: center">
        5. Prix
      </h4>
      <br>

      Les prix sont définis par les Utilisateurs, défini entre 0 et 10 euros par unité, est sont diffusés sur notre
      Plateforme. Eatoo n’a pas le droit de modifier les prix des annonces. L’Utilisateur ne peut modifier son annonce
      uniquement si aucune commande n’a encore été passé. Les produits seront facturés sur la base du tarif en vigueur
      au moment de la commande.
      Les prix sont exprimés en euros, toutes taxes comprises.
      <br><br>
      <h4 style="text-align: center">
        6. Paiement
      </h4>
      <br>

      Lors de la commande initiale, le prix est payable uniquement Le paiement s’effectue par carte bancaire (Carte
      Bleue, Carte Visa ou Carte Mastercard) via le serveur sécurisé de notre prestataire de paiement PayPal. Le
      paiement se déroule donc directement entre l’Utilisateur et PayPal, les informations transmises par l’ Utilisateur
      à partir de son ordinateur ne circulent pas en clair sur le net et ne sont pas accessibles à Eatoo.
      Les coordonnées de paiement peuvent être conservés par PayPal, ce qui signifie que l’ Utilisateur n’aura pas
      besoin de communiquer ces informations lors de chaque nouvelle commande. Le payement sera débité automatiquement
      sur la carte indiquée par l’Utilisateur lors de la commande.
      En cas de refus du prestataire de paiement PayPal, la commande ne sera pas validée. En cas de paiement non validé
      l’Utilisateur devra contacter sa banque.
      <br><br>
      <h4 style="text-align: center">
        7. Impayé
      </h4>
      <br>


      En cas d’impayé, la commande sera annulée. Et l’Utilisateur ne pourra recommander que lorsqu’il aura mis à jour
      ses coordonnées bancaires.
      <br><br>
      <h4 style="text-align: center">
        8. Produit non conforme
      </h4>
      <br>


      Eatoo est une application de mise en relation entre particulier et ne peut être tenu responsable en cas de
      litiges, tels que produit périmés, erreur sur commande, produit ne correspondant pas aux attentes de
      l’Utilisateur.
      <br><br>
      <h4 style="text-align: center">
        9. Livraison
      </h4>
      <br>

      Les produits ne peuvent être livrés que dans la zone de livraison indiquée sur le site, à savoir en France hors
      îles métropolitaines et hors Dom-Tom.
      L’Utilisateur vendeur et l’Utilisateur acheteur s’engagent à être disponible pour livrer ou retirer les produits à
      l’adresse et au créneau horaire qu’il a indiqués dans sa commande.
      Dans le cas où les produits commandés n’ont pu être livrés du fait de l’absence de L’Utilisateur vendeur ou
      L’Utilisateur acheteur ou du fait d’informations erronées ou imprécises sur l’horaire et le lieu de livraison, la
      responsabilité de Eatoo ne pourra être engagée. L’Utilisateur vendeur ou L’Utilisateur acheteur peuvent alors se
      contacter par téléphone afin de convenir d’un nouveau rendez-vous de livraison.
      Dans l’hypothèse où un nouveau rendez-vous s’avère impossible dans les délais, le règlement de la commande (frais
      de livraison compris) restera acquis à Eatoo jusque confirmation de réception du plat via QR Code.
      L’Utilisateur acheteur devra consommer sont plat dans les meilleurs délai. L’Utilisateur vendeur s’engage
      également à garantir le respect de la chaîne du froid en maintenant de façon constante les aliments réfrigérés ou
      surgelés à une température, positive ou négative selon le cas et ainsi respecter l’utilisation de produit frais
      non périmés pour l’élaboration de ses plats. La responsabilité de Eatoo ne pourra être engagée concernant la
      qualité des produits ceci n’a pas été respectée par l’Utilisateur vendeur.
      .
      <br><br>
      <h4 style="text-align: center">
        10. Réception
      </h4>
      <br>

      Il appartiendra à L’Utilisateur acheteur de vérifier les produits au moment même de leur livraison. En conséquence
      :
      En cas de produits manquants ou abîmés, le client devra faire toutes constatations nécessaires lors de la
      réception du plat auprès de L’Utilisateur vendeur.

      Eatoo ne peut être tenu responsable de manque ou de produit abimés.
      <br><br>
      <h4 style="text-align: center">
        14. Garantie
      </h4>
      <br>


      L’Utilisateur vendeur garanti la réalisation de plat avec des produit conforme à la consommation.
      <br><br>
      <h4 style="text-align: center">
        15. Propriété intellectuelle et industrielle
      </h4>
      <br>

      L’Utilisateur s’engage à respecter les droits de propriété intellectuelle et industrielle attachés à la
      Plateforme. Tous les éléments du Site et de l’Application sont et restent la propriété intellectuelle et exclusive
      de Eatoo. Nul n’est autorisé à reproduire, exploiter, rediffuser, ou utiliser à quelque titre que ce soit, même
      partiellement, des éléments de la Plateforme qu’ils soient logiciels, visuels ou sonores. Tout lien simple ou par
      hypertexte est strictement interdit sans un accord écrit exprès de Eatoo.
      <br><br>
      <h4 style="text-align: center">
        16. Compétence - Contestation
      </h4>
      <br>

      Les CGV et plus généralement les contrats conclus via la Plateforme sont soumis au droit français.
      En cas de contestation relative aux CGV et plus généralement aux contrats conclus via la Plateforme, Eatoo
      s’efforcera de résoudre avec l’Utilisateur, dans un délai d’un mois, le différend à l’amiable.
      Si le différend n’a pu être résolu entre Quitoque et le Client, ce dernier peut, dans les conditions des articles
      L.612-1 et suivants du Code de la consommation, saisir le médiateur de Quitoque: Medicys – 73 boulevard de Clichy,
      75009 Paris – +33 (0)1 49 70 15 93 – contact@medicys.fr –https://conso.medicys.fr/
      À défaut de solution amiable trouvée dans ce délai, les tribunaux de Paris seront exclusivement compétents, quels
      que soient le lieu de livraison, le mode de règlement et même en cas d’appel en garantie ou de pluralité de
      défendeurs.
      <br><br>
      <h4 style="text-align: center">
        17. Preuves
      </h4>
      <br>

      Les informations conservées dans notre système d’information ont force probante quant aux commandes passées. En
      cas de production de ces informations sur support électronique, elles auront la même valeur que si elles avaient
      été données et conservées par écrit.

      <br><br>
      <h4 style="text-align: center">
        18. Divisibilité des clauses
      </h4>
      <br>

      La nullité d’une des clauses des CGV n’entraîne pas la nullité des CGV, les autres clauses continueront à produire
      leurs effets.
    </div>

    <div
      v-if="this.$i18n.locale === 'en-GB'"
      style="margin-top: 150px; margin-bottom: 50px; text-align: justify"
    >
      <h1 style="text-align: center; font-weight: bold">
        General terms and conditions of the Eatoo website
      </h1>
      <br><br><br><br><br>
      <h3 style="text-align: center">
        - General terms and conditions of use -
      </h3>
      <span>
        <br><br>
        <h4 style="text-align: center">ARTICLE 1 : Object</h4>
        <br>
        The purpose of these "general terms of use" is to provide a legal framework for the use of the Eatoo website and its services. This contract is concluded between : The manager of the website, hereinafter referred to as "the Publisher", Any individual or legal entity wishing to access the website and its services, hereinafter referred to as "the User". The general terms and conditions of use must be accepted by any User, and his access to the site constitutes acceptance of these conditions.
        <br><br>
        <h4 style="text-align: center">ARTICLE 2 - Legal Notice</h4>
        <br>
        For legal entities: The Eatoo website is published by the company Eatoo, [legal status (SAS, SARL, etc.)] with a capital of 0 €, whose head office is located in Lille. The company is represented by EatooApp. For individuals: The Eatoo website is published by EatooApp, domiciled in Lille.
        <br><br>
        <h4 style="text-align: center">ARTICLE 3 : Access to services</h4>
        <br>
        Any User with internet access can access the site free of charge and from anywhere. The costs incurred by the User to access it (internet connection, computer equipment, etc.) are not borne by EatooApp.

        The following services are only accessible to the User if he is a member of the site (i.e., if he is identified by means of his connection identifiers).

        The User of the Eatoo website has access to the following services:

        <br><br>
        <h5 style="text-align: center">3.1 - Account creation</h5>
        <br>


        For the creation of your account on Eatoo, the following personal information will be requested and is mandatory in order to use Eatoo in the best possible way.
        - Email address
        - Username
        - Name
        - First Name
        - Phone number

        <br><br>
        <h5 style="text-align: center">3.2 - Connecting</h5>
        <br>

        To log in and use Eatoo, the user must enter their "Username" or "Email Address" and their "Password".
        <br><br>
        <h5 style="text-align: center">3.3 - List of dishes online</h5>
        <br>


        The user will have access to all user dish ads available on Eatoo, containing the following information :
        - Dish information (ref. 3.5)
        - Username of the person who published the ad
        - The distance between the User and the delivery address

        <br><br>
        <h5 style="text-align: center">3.4 - Personal profile</h5>
        <br>


        The User profile contains the following information :
        <br>
        - Profile picture
        <br>
        - Name and Surname
        <br>
        - Username
        <br>
        - Age
        <br>
        - Email address
        <br>
        - Phone number
        <br>
        - Postal address
        <br><br>

        <strong>The information contained in the profile is for personal and confidential purposes with the exception of :</strong>

        <br><br>
        <h6 style="text-align: center">3.4.1 - User name</h6>
        <br>


        The username will be used in order to allow both the "Seller User" and the "Buyer User" to identify themselves when placing an order.

        <br><br>
        <h6 style="text-align: center">3.4.2 - Telephone number</h6>
        <br>

        The telephone number will be used in order to enable the two parties "the seller User" and the buyer User" to contact each other once the order has been placed and thus proceed more easily to the delivery of the order.
        <br><br>
        <h6 style="text-align: center">3.4.3 - Postal address</h6>
        <br>

        The postal address will be used in order to allow Eatoo to define a distance between the "Buyer User" and the ad placed online by the "Seller User".
        It is also used once an order has been placed to enable the "Buyer User" to go to the address to retrieve his order.

        The information contained in the profile can be modified with the exception of: "Surname, First Name, Username".

        <br><br>
        <h5 style="text-align: center">3.5 - Creating a dish</h5>
        <br>


        When the User creates a dish, the following information is required :
        <br>
        - Photo of the dish
        <br>
        - Name of the dish
        <br>
        - Ingredients of the dish
        <br>
        - The number of shares available
        <br>
        - The price of the share
        <br>
        - Time of delivery
        <br>
        - Delivery address

        <br><br>
        <h5 style="text-align: center">3.6 - Ordering a dish</h5>
        <br>


        The user wishing to order a dish, must define the number of portions he wishes, he will then proceed to the payment of this one, then will obtain the summary of his order containing: "Name of the dish", "Telephone number of the selling User", "Delivery time", "Delivery address".

        The site and its various services may be interrupted or suspended by EatooApp, in particular during maintenance, without notice or justification.
        <br><br>
        <h4 style="text-align: center">ARTICLE 4 : Liability of the User</h4>
        <br>
        The User is responsible for the risks linked to the use of his login and password. The User's password must remain secret. In the event of disclosure of the password, EatooApp declines all liability. The User assumes full responsibility for the use he makes of the information and content on the Eatoo website. Any use of the service by the User resulting directly or indirectly in damage must be compensated to the benefit of the site. The site allows members to publish on the site : Comments]; [Announcements]; Etc. The member undertakes to make comments that are respectful of others and the law and accepts that these publications may be moderated or refused by EatooApp, without obligation of justification. By publishing on the site, the User grants EatooApp the non-exclusive and free right to represent, reproduce, adapt, modify, broadcast and distribute its publication, directly or through an authorized third party. However, EatooApp undertakes to cite the Member in the event that his publication is used.
        <br><br>
        <h4 style="text-align: center">ARTICLE 5 : Liability of the Publisher</h4>
        <br>
        EatooApp cannot be held liable for any server or network malfunction. Similarly, the site cannot be held liable in the event of force majeure or the unforeseeable and insurmountable act of a third party. The Eatoo website undertakes to implement all necessary means to guarantee the security and confidentiality of data. However, it does not provide a guarantee of total security. EatooApp reserves the right not to guarantee the reliability of the sources, although the information disseminated on the site is deemed reliable.        <br><br>
        <h4 style="text-align: center">ARTICLE 6 : Intellectual Property</h4>
        <br>
        The contents of the Eatoo website (logos, texts, graphic elements, videos, etc.) are protected by copyright under the French Intellectual Property Code. The User must obtain permission from the site publisher before reproducing, copying or publishing any of this content. The latter may be used by Users for private purposes; any commercial use is prohibited. The User is entirely responsible for any content he puts online and undertakes not to harm a third party. The Site Publisher reserves the right to freely moderate or delete at any time the content put online by Users, without justification.
        <br><br>
        <h4 style="text-align: center">ARTICLE 7 : Personal data</h4>
        <br>
        The User must provide personal information to register on the site. The User's e-mail address may be used by the Eatoo website to communicate various information and manage the account. Eatoo guarantees the respect of the user's privacy, in accordance with the French law n°78-17 of 6 January 1978 relating to information technology, files and freedoms. The site is declared to the CNIL under the following number: [number]. In accordance with articles 39 and 40 of the law dated 6 January 1978, the User has the right to access, rectify, delete and oppose his or her personal data. The User exercises this right via : His personal space on the site or by e-mail to eatoo.app@gmail.com.
        <br>
        Eatoo undertakes to protect Users' Personal Data in accordance with the applicable Regulations and under the conditions detailed in our <a
          style="color: #638548; font-weight: bold"
          href="/privacy"
        >Privacy Policy</a>.
        <br><br>
        <h4 style="text-align: center">ARTICLE 8 : Hypertext links</h4>
        <br>
        The domains to which the hypertext links on the site lead do not engage the responsibility of the Eatoo Editor, who has no control over these links. It is possible for a third party to create a link to a page on the Eatoo website without the Publisher's express authorization.
        <br><br>
        <h4 style="text-align: center">ARTICLE 9 : Evolution of the general terms and conditions of use</h4>
        <br>
        The Eatoo website reserves the right to modify the clauses of these general terms and conditions of use at any time and without justification.
        <br><br>
        <h4 style="text-align: center">ARTICLE 10 : Duration of the contract</h4>
        <br>
        The duration of this contract is indefinite. The contract produces its effects with regard to the User from the start of use of the service.
        <br><br>
        <h4 style="text-align: center">ARTICLE 11 : Contact</h4>
        <br>
        To contact EatooApp, the User may go to the "Contact" page on the Eatoo website, or by e-mail at the following address: eatoo.app@gmail.com.
        <br><br>
        <h4 style="text-align: center">ARTICLE 12 : Applicable Law and Competent Jurisdiction</h4>
        <br>
        The present contract depends on French legislation. In the event of a dispute not resolved amicably between the User and EatooApp and in accordance with the provisions of the French Consumer Code, you may resort to an alternative dispute resolution method or a conventional mediation procedure. The search for such an amicable solution interrupts the time limits for taking action. Failing this, the competent court will be determined by the rules of common law.

        <br><br><br><br><br>

        <h3 style="text-align: center">- General conditions of Sale -</h3>
        <br><br>
        These conditions apply to all sales made on the Eatoo website (hereinafter the "Site") or the IOS Eatoo application (hereinafter the "Application" and hereinafter together, the "Platform").
        These general terms and conditions of sale (hereinafter the "GTC") are concluded between, on the one hand, EatooApp - SA with a share capital of €0 - whose registered office is in Lille.
        Eatoo and the Customer are together referred to as the "Parties".
        The GCS prevail in all cases over any other document issued which are only indicative (such as information provided directly or in advertising on the products, description and information in our brochures, catalogues, price lists, reproductions, etc.).
        The applicable GCS are those in force on the day of the order placed by the Customer. Eatoo reserves the right to modify the GTC without prior notice, which will become applicable to sales made after the modification.
        The Terms and Conditions of Sale are an integral part of our offer and are therefore systematically brought to the attention of all Customers prior to placing an order. The fact of placing an order necessarily implies acceptance without any reserve and full and complete adherence by the Customer to the GCS. Any condition to the contrary opposed by the Customer will be unenforceable against Eatoo, in the absence of express acceptance on our part, regardless of when it may have been brought to our attention. No handwritten or electronic signature is required to bind the Customer, the fact that the Customer clicks on the "validate and pay" button automatically implies the Customer's acceptance of the GTC.

        <br><br>
        <h4 style="text-align: center">1. Products and availability</h4>
        <br>
        The advertisements in our offer comply with the regulations and standards in force in France and/or the European Union on the date of their delivery. Each advertisement is accompanied by a description enabling the User to know the composition of the dish and the essential characteristics in accordance with article L. 111-1 of the French Consumer Code; however, the photos and illustrations are for information purposes only.

        Eatoo reserves the right to modify its offer at any time and without notice. Consequently, the advertisements are available as long as they appear on the Site and within the limit of stocks. If the dish is unavailable after the order has been placed, the User will be informed by e-mail and no payment will be debited; if the payment has already been debited, the User may, at his or her discretion, either benefit from a credit note for an equivalent amount to be used on a future Eatoo order or be reimbursed.
        <br><br>
        <h4 style="text-align: center">2. Customer Service</h4>
        <br>

        Our customer service is at your disposal for any questions relating to our Site :
        <a
          style="color: #638548; font-weight: bold"
          href="/contact"
        >Contact us</a> or eatoo.app@gmail.com

        <br><br>
        <h4 style="text-align: center">3. Accessibility of services</h4>
        <br>

        The Site is accessible 24 hours a day and 7 days a week, except in the event of an interruption, whether or not scheduled by Eatoo, in particular for the purposes of its maintenance, a suspension of activity or in the event of force majeure. Eatoo cannot be held liable for any damage of any kind resulting from the unavailability of the Site.
        The provision of the User's account does not give the User any rights and does not create any obligation on the part of Eatoo.
        The transmission of information over the Internet may not be totally secure. Although Eatoo takes all measures required by law to protect all your information on our Site, Eatoo cannot guarantee that the transmission of data to our Site is secure. Such transmission is at the User's own risk.     <br><br>
        <h4 style="text-align: center">4. Orders</h4>
        <br>

        The contractual information, presented to the user in French or English, will be confirmed when the user validates his/her first order.
        The User is entirely responsible for the information entered at the time of his/her order. Failing to be fully informed, the order cannot be validated.
        Consequently, we cannot be held liable in the event that Eatoo is unable to execute the order due to errors, inaccuracies or omissions relating to this information.
        <br><br>
        The User, who wishes to order one or more products must :
        <br>
        - Log in by identifying himself/herself, or create a personal user account ("Register").
        <br><br>
        To do so, he or she must fill in the registration form on which he or she will indicate all the contact details requested.
        There can only be one User Account per "Email Address" or "Username", corresponding to the same email address or username.
        The User is also required to choose a password which must remain confidential and not be divulged to a third party. The User must take care not to re-use the same password as the one associated with his Client Account in other applications. The User remains responsible for the use of his account and password. He is responsible for restricting access to his computer, tablet, smartphone or connected tool and for all activities carried out from his User or with his identifiers.
        For security reasons, EatooApp does not have access to the passwords chosen by the Customers, which are encrypted. EatooApp cannot therefore communicate them directly to Users. Identifiers can only be changed at the User's initiative or at the invitation of EatooApp. If the User has lost or wishes to change his password, he must click on the "Forgotten Password" link to generate a new password. If the User discovers or has reason to believe that his password is known to someone else, or that it is being used or is likely to be used in an unauthorized manner, he must inform EatooApp immediately.
        Access by the User to his Account is conditional upon his express acceptance and compliance with the GTC.
        Eatoo has no power to control the veracity of the information transmitted by the User for the creation of the Account. Consequently, Eatoo cannot be held liable for false declarations or identity theft made by Users.
        <br><br>
        Users undertake to provide Eatoo with accurate information that is updated according to changes over time.
        <br>
        - Validate their order after having checked it, in particular the place of delivery, as well as the date and time of delivery selected;
        <br>
        - Make the payment in accordance with the terms and conditions provided for;
        <br>
        - Confirm the order and payment.
        <br><br>
        Prior to the conclusion of the contract, Eatoo will inform the User, in accordance with Article L.221-5 of the French Consumer Code, in particular :
        <br>
        Information on the essential characteristics of the product ordered by the Customer,
        <br>
        The date and time of availability or delivery of the product,
        <br>
        Information relating to Eatoo, including postal and telephone contact details,
        <br>
        The delivery address,
        <br>
        Identification of the order number,
        <br>
        The total amount of the order (price incl. VAT)
        <br>
        In accordance with the law, this order is only deemed to have been concluded when we send an acknowledgement of receipt of the order - ARC (order confirmation) - by e-mail or SMS. This e-mail will include the information referred to above. Eatoo reserves the right not to confirm any order form from a User with whom there is or would be a dispute or who has not settled, or has only partially settled, a previous order.
        <br><br>
        <h4 style="text-align: center">5. Price</h4>
        <br>

        The prices are defined by the Users defined between 0 and 10 euros per unit and are published on our Platform. Eatoo does not have the right to modify the prices of the advertisements. The User can only modify his ad if no order has yet been placed. Products will be invoiced on the basis of the price list in force at the time of the order.
        Prices are expressed in euros, all taxes included.
        <br><br>
        <h4 style="text-align: center">6. Payment</h4>
        <br>

        When placing an initial order, the price is payable only The payment is made by credit card (Carte Bleue, Visa or Mastercard) via the secure server of our payment provider PayPal. Payment is therefore made directly between the User and PayPal. The information transmitted by the User from his/her computer does not circulate in clear text on the net and is not accessible to Eatoo.
        Payment details may be kept by PayPal, which means that the User will not need to provide this information for each new order. Payment will be automatically debited from the card indicated by the User when ordering.
        In case of refusal by the PayPal payment provider, the order will not be validated. In case of non-validated payment, the User must contact his bank.
        <br><br>
        <h4 style="text-align: center">7. Unpaid</h4>
        <br>

        In case of non-payment, the order will be cancelled. And the User will only be able to recommend that when he has updated his bank details.
        <br><br>
        <h4 style="text-align: center">8. Non-conforming product</h4>
        <br>

        Eatoo is an application for connecting individuals and cannot be held liable in the event of disputes, such as expired products, errors on orders, or products that do not meet the User's expectations.
        <br><br>
        <h4 style="text-align: center">9. Delivery</h4>
        <br>

        The products can only be delivered in the delivery zone indicated on the site, i.e. in France excluding metropolitan islands and Dom-Tom.
        The Seller User and the Buyer User undertake to be available to deliver or collect the products at the address and time slot indicated in the order.
        In the event that the products ordered could not be delivered due to the absence of the Seller User or the Buyer User or due to erroneous or inaccurate information on the time and place of delivery, Eatoo cannot be held liable. The Seller User or the Buyer User can then contact each other by telephone to arrange a new delivery appointment.
        In the event that a new delivery appointment is not possible within the time limit, Eatoo will retain payment of the order (including delivery costs) until confirmation of receipt of the dish via QR Code.
        The User/buyer must consume the dish as soon as possible. The Seller User also undertakes to guarantee respect for the cold chain by constantly maintaining refrigerated or frozen food at a temperature, positive or negative, as the case may be, and thus to respect the use of fresh, non-expired products in the preparation of his dishes.Eatoo cannot be held responsible for the quality of the products that have not been respected by the selling User.
        <br><br>
        <h4 style="text-align: center">10. Reception</h4>
        <br>

        It will be the responsibility of the User-buyer to check the products at the time of their delivery. Consequently, it is the buyer's responsibility to check the products at the time of delivery:
        In the event of missing or damaged products, the customer must make all necessary observations upon receipt of the dish from the User-seller.

        Eatoo cannot be held responsible for missing or damaged products.
        <br><br>
        <h4 style="text-align: center">14. Guarantee</h4>
        <br>

        The Selling User guarantees the realization of dishes with products in conformity with consumption.
        <br><br>
        <h4 style="text-align: center">15. Intellectual and industrial property</h4>
        <br>

        The User undertakes to respect the intellectual and industrial property rights attached to the Platform. All elements of the Site and the Application are and remain the exclusive intellectual property of Eatoo. No one is authorized to reproduce, exploit, redistribute or use for any purpose whatsoever, even partially, elements of the Platform, whether software, visual or sound. Any simple link or hypertext link is strictly prohibited without the express written consent of Eatoo.
        <br><br>
        <h4 style="text-align: center">16. Jurisdiction - Dispute</h4>
        <br>

        The General Terms and Conditions of Sale and more generally the contracts concluded via the Platform are subject to French law.
        In the event of a dispute relating to the GTC and more generally to the contracts entered into via the Platform, Eatoo will endeavour to resolve the dispute amicably with the User within one month.
        If the dispute cannot be resolved between Eatoo and the Customer, the Customer may, under the terms of articles L.612-1 et seq. of the French Consumer Code, refer the matter to a mediator.
        In the absence of an amicable solution within this period, the Paris courts will have exclusive jurisdiction, regardless of the place of delivery, the method of payment and even in the event of an appeal under warranty or in the event of multiple defendants.
        <br><br>
        <h4 style="text-align: center">17. Proofs</h4>
        <br>

        The information stored in our information system has evidential value with regard to the orders placed. If this information is produced electronically, it will have the same value as if it had been given and kept in writing.

        <br><br>
        <h4 style="text-align: center">18. Severability of clauses</h4>
        <br>

        The nullity of one of the clauses of the GTC does not entail the nullity of the GTC, the other clauses will continue to produce their effects.
      </span>
    </div>
  </v-container>
</template>

<script>
export default {
  name: "Conditions"
}
</script>

<style scoped>

</style>
