<template>
  <v-container>
    <v-row>
      <v-col cols="12" md="4"
      >
        <v-img
          style="z-index: 0;top: 0;left: 0;color: white;"
          src="@/assets/Contact_picture.jpg"
        >
          <div style="position: absolute;top: 15%;left: 30%">
            <h3 style="font-weight: bold">
              {{ $t('address') }}
            </h3>
            <p>5-9 Rue du Palais Rihour</p>
            <p>(59 000) Lille, France</p>
            <br>
            <h3 style="margin-top: 10%; font-weight: bold">
              {{ $t('talk') }}
            </h3>
            <p>+33 2 34 56 78 90</p>
            <br>
            <h3 style="margin-top: 10%; font-weight: bold">
              {{ $t('support') }}
            </h3>
            <p>eatoo.app@gmail.com</p>
          </div>
        </v-img>
      </v-col>
      <v-col cols="12" md="8" class="align-center">
          <v-card
            color="rgba(255, 255, 255, 0.95)"
            style="width: 700px; height: 600px; margin:auto"
          >
            <v-form
              v-if="!contacted"
              ref="form"
              lazy-validation
              style="margin: 20px"
            >
              <br><br>
              <h3 style="text-align: center">
                {{ $t('contactus') }}
              </h3>
              <br>
              <v-text-field
                v-model="contact.name"
                prepend-icon="person"
                type="firstname"
                :label="$t('firstname') + '*'"
                color="primary"
                background-color="grey lighten-5"
                style="width: 45%; float: left;"
                required
                dense
                outlined
              />
              <v-text-field
                v-model="contact.familyName"
                prepend-icon="person"
                type="lastname"
                :label="$t('lastname') + '*'"
                color="primary"
                background-color="grey lighten-5"
                style="width: 45%; float: right"
                required
                dense
                outlined
              />

              <v-text-field
                v-model="contact.email"
                prepend-icon="alternate_email"
                type="email"
                label="Email*"
                color="primary"
                background-color="grey lighten-5"
                style="width: 100%"
                required
                dense
                outlined

              />

              <v-text-field
                v-model="contact.phone"
                v-mask="'##########'"
                prepend-icon="phone"
                type="phone"
                :label="$t('phone') + '*'"
                color="primary"
                background-color="grey lighten-5"
                style="width: 100%"
                required
                dense
                outlined
              />

              <v-textarea
                v-model="contact.message"
                prepend-icon="message"
                background-color="grey lighten-5"
                color="primary"
                label="Message*"
                type="message"
                style="width: 100%"
                no-resize
                rows="5"
                counter="300"
                required
                dense
                outlined
              />

              <div style="text-align: center">
                <v-btn
                  id="validButton"
                  width="50%"
                  color="secondary"
                  class="btn btn-block my-4"
                  dark
                  @click="sendContact"
                >
                  {{ this.$t('send') }}
                </v-btn>
              </div>
            </v-form>
            <v-col
              v-else
              cols="12" md="12"
            >
              <h3 class="text-center">
                {{ $t('thankContact') }}
              </h3>
              <br>
            </v-col>
          </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
    export default {
        name: "Contact",
        data() {
            return {
                contact: {
                    name: '',
                    familyName: '',
                    email: '',
                    phone: '',
                    message: '',
                },
              contacted: false,
              errorMessage: '',
              regexEmail: /^(([^<>()\\[\]\\.,;:\s@"]+(\.[^<>()\\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,24}))$/,
              regexPhone: /^((\+)33|0)[6-7](\d{2}){4}$/,
            }
        },
        methods : {
            checkPhone() {
              if (!this.regexPhone.test(this.contact.phone)) {
                this.$notify({
                  group: 'test',
                  type: 'error',
                  text: this.$t('registererror1')
                });
                return false;
              }
              if (this.contact.phone.length !== 10) {
                this.$notify({
                  group: 'test',
                  type: 'error',
                  text: this.$t('registererror1')
                });
                return false;
              }
              return true;
            },

            checkEmail() {
              if (!this.regexEmail.test(this.contact.email)) {
                this.$notify({
                  group: 'test',
                  type: 'error',
                  text: this.$t('registererror4')
                });
                return false;
              }
              return true;
            },

            sendContact() {
              if (!this.contact.name
                      || !this.contact.familyName
                      || !this.contact.email
                      || !this.contact.phone
                      || !this.contact.message) {
                this.$notify({
                  group: 'test',
                  type: 'error',
                  text: this.$t('registererror5')
                });
                return;
              }
              if (!this.checkPhone() || !this.checkEmail())
                return;
              this.$store.dispatch('contact', this.contact)
                  .then(() => {
                      this.contacted = true;
                      this.$notify({group: 'test', type: 'success', text: this.$t('messageSend')});
                  })
                  .catch(() => {
                      this.$notify({group: 'test', type: 'error', text: this.$t('contactMessage') });
                  })
            }
        }
    }
</script>

<style scoped>
</style>
