<template>
  <v-container>
    <v-row>
      <v-col>
        <v-card class="px-12 pt-8 pb-4">
          <h6 class="text-h4 text-center mb-4">
            {{ $t('createdish') }}
          </h6>
          <v-row class="justify-center">
            <v-col class="text-center shrink">

              <div id="dishpict">
                <v-container>
                  <image-input v-model="avatar" picName="dishPicture">
                    <div slot="activator">
                      <v-avatar size="150px" v-ripple v-if="!avatar" class="grey lighten-3 mb-3">
                        <span><v-icon size="50px">add_photo_alternate</v-icon><br/>Click to <br/>add picture</span>
                      </v-avatar>
                      <v-avatar size="150px" v-ripple v-else class="mb-3">
                        <img :src="avatar.imageURL" alt="avatar">
                      </v-avatar>
                    </div>
                  </image-input>
                </v-container>
              </div>


            </v-col>
          </v-row>
          <v-row>
            <v-col
                    cols="12"
                    md="6"
            >
              <v-text-field
                      v-model="dish.dishName"
                      prepend-icon="edit"
                      color="primary"
                      outlined
                      required
                      dense
                      :rules="[rules.required]"
                      :label="$t('dishname') + '*'"
                      counter="30"
              />
              <v-select
                      v-model="dish.quantity"
                      prepend-icon="restaurant"
                      :items="['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']"
                      :label="$t('units') + '*'"
                      :rules="[rules.required]"
                      color="primary"
                      item-color="primary"
                      required
                      outlined
                      dense
              />
              <v-combobox
                      v-model="items"
                      prepend-icon="room_service"
                      color="primary"
                      :label="$t('topics') + '*'"
                      :rules="[rules.required]"
                      allow-overflow
                      class="my-1"
                      chips
                      dense
                      outlined
                      required
                      clearable
                      multiple
                      counter="30"
              >
                <template v-slot:selection="{ attrs, item, select, selected, parent }">
                  <v-chip
                          color="primary"
                          outlined
                          small
                          v-bind="attrs"
                          :input-value="selected"
                          close
                          @click="parent.selectItem(item)"
                          @click:close="parent.selectItem(item)"
                  >
                    <strong>{{ item }}</strong>&nbsp;
                  </v-chip>
                </template>
              </v-combobox>
            </v-col>
            <v-col
                    cols="12"
                    md="6">
              <v-row>
                <v-col
                  cols="12"
                  md="6"
                  class="py-0"
                >
                  <v-menu
                    ref="menu1"
                    v-model="menu"
                    :close-on-content-click="false"
                    transition="scale-transition"
                    offset-y
                    max-width="290px"
                    min-width="290px"
                  >
                    <template v-slot:activator="{ on, attrs }">
                      <v-text-field
                        v-model="dish.deliveryDate"
                        autocomplete="off"
                        :label="$t('date') + '*'"
                        dense
                        required
                        outlined
                        color="primary"
                        prepend-icon="mdi-calendar"
                        v-bind="attrs"
                        v-on="on"
                      />
                    </template>
                    <v-date-picker
                      :min="today"
                      v-model="date"
                      no-title
                      required
                      @input="menu = false"
                      color="primary"
                    />
                  </v-menu>
                </v-col>
                <v-col
                        cols="12"
                        md="6"
                        class="py-0"
                >
                  <v-select
                          v-model="dish.deliveryHour"
                          prepend-icon="access_time"
                          :items="availableHours"
                          :label="$t('hour') + '*'"
                          :rules="[rules.required]"
                          item-color="primary"
                          color="primary"
                          dense
                          :disabled="!date"
                          outlined
                          required
                  />
                </v-col>
              </v-row>
              <v-text-field
                      v-model="dish.price"
                      prepend-icon="euro"
                      required
                      dense
                      outlined
                      color="primary"
                      :label="$t('price') + '*'"
                      type="number"
                      :rules="[rules.required, rules.counter]"
                      min="0"
                      max="20"
                      step="0.1"
              />
              <div class="d-flex align-center">
                <v-icon
                        class="shrink"
                        left
                >
                  near_me
                </v-icon>
                <vuetify-algolia-places
                        v-model="place"
                        append-icon=""
                        :language="this.$i18n.locale === 'fr-FR' ? 'fr' : 'en'"
                        around-radius="20000"
                        type="address"
                        outlined
                        required
                        background-color="white"
                        color="primary"
                        hide-details
                        :label="$t('localization') + '*'"
                        filled
                        dense
                />
              </div>
            </v-col>
          </v-row>
          <v-card-actions class="justify-center">
            <v-btn
                    color="secondary"
                    class="px-12"
                    @click="validate"
            >
              {{ $t('create_dish_btn') }}
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
  import dayjs from 'dayjs'
  import ImageInput from "@/components/ImageInput";

  export default {
    name: 'CreateDish',
    components: {
      ImageInput: ImageInput
    },
    data() {
      return {
        place: null,
        date: null,
        today: dayjs().format(),
        dish: {
          dishName: '',
          quantity: '',
          price: '',
          ingredients: '',
          deliveryHour: '',
          deliveryDate: '',
          localization: {
            city: "",
            street: "",
            postalCode: "",
            latitude: "",
            longitude: ""
          }
        },
        items: '',
        avatar: null,
        saving: false,
        saved: false,
        menu: false,
        rules: {
          required: value => !!value || 'Champ obligatoire.',
          counter: value => value <= 15 || 'Prix trop élevé.',
        },
      }
    },
    watch: {
      avatar: {
        handler: function () {
          this.saved = false
        },
        deep: true
      },
      date () {
        this.dish.deliveryDate = this.formatDate(this.date)
      },
    },
    computed: {
      availableHours () {
        const date = this.date
        if (!date) {
          return []
        }
        let now = dayjs()
        const currentDay = now.day()
        if (dayjs(this.date).isAfter(now, 'day')) {
          return ['07:00', '07:30', '08:00', '08:30', '09:00', '09:30', '10:00', '10:30', '11:00', '11:30', '12:00', '12:30', '13:00', '13:30', '14:00', '14:30', '15:00', '15:30', '16:00', '16:30', '17:00', '17:30', '18:00', '18:30', '19:00', '19:30', '20:00', '20:30', '21:00', '21:30', '22:00', '22:30', '23:00', '23:30']
        }
        let hours = []
        if (now.minute() < 30) {
          now = now.minute(0)
        } else if ((now.minute() > 30)) {
          now = now.minute(30)
        }
        while (now.day() === currentDay) {
          hours.push(now.format('HH:mm'))
          now = now.add(30, 'minute');
        }
        return hours
      }
    },
    methods: {
      formatDate (date) {
        if (!date) return null
        const [year, month, day] = date.split('-')
        return `${day}/${month}/${year}`
      },
      validate: function () {
        if (this.place === null) {
          this.$notify({group: 'test', type: 'error', text: this.$t('incompleteinfo')});
          return;
        }
        this.dish.localization.city = this.place.city
        this.dish.localization.street = this.place.name
        this.dish.localization.postalCode = this.place.postcode
        this.dish.localization.latitude = this.place.latlng.lat.toString()
        this.dish.localization.longitude = this.place.latlng.lng.toString()
        this.dish.ingredients = this.items.join(';');
        this.$store.dispatch('dishUpload', this.dish)
                .then((resp) => {
                  let id = resp.data.id;
                  if (this.avatar && id !== -1) {
                    this.$store.dispatch('updateUserDish', {data: this.avatar.formData, id: id})
                            .then(() => {
                              this.$notify({group: 'test', type: 'success', text: this.$t('uploaddish')});
                              this.$router.push('/secure');
                            })
                            .catch(() => this.$notify({group: 'test', type: 'error', text: this.$t('impossibletosave')}))
                  } else if (id !== -1) {
                    this.$notify({group: 'test', type: 'success', text: this.$t('uploaddish')});
                    this.$router.push('/secure');
                  }
                })
                .catch(() => this.$notify({group: 'test', type: 'error', text: this.$t('incompleteinfo')}))
      }
    }
  }
</script>

<style scoped>
  #valid {
    border-color: #537538 !important;
    background-color: #638548 !important;
    color: white;
  }
</style>
