<template>
  <div>
    <v-container style="padding: 0 0 0 0; width: 100%; max-width: 3000px;margin: -64px 0 0;">
      <div style="overflow: hidden; max-height: 100vh; position: relative">
        <video
            class="v-responsive"
            poster="@/assets/Food_home.png"
            playsInline
            autoPlay
            muted=""
            loop
        >
          <source
              src="@/assets/Food.mp4"
              type="video/mp4"
              style="z-index: -1;"
          >
        </video>
        <v-overlay
            absolute
            z-index="1"
            class=" v-responsive justify-content-center align-items-center gradient"
            opacity="0.1"
        >
          <v-container class="px-md-3 px-sm-0">
            <v-row class="md12 mb-4">
              <v-col class="md12 mb-4 text-center">
                <h3
                    class="display-3 font-weight-bold mb-0 pt-md-5"
                    style="color: white"
                >
                  Eatoo
                </h3>
                <hr style="height: 2px; border: none; color: #333; background-color: white">
                <h4
                    class="subtext-header mt-2 mb-4"
                    style="color: white"
                >
                  {{ $t('slogan') }}
                </h4>
              </v-col>
            </v-row>
          </v-container>
        </v-overlay>
      </div>
    </v-container>
    <v-container class="fill-height">
      <v-row class="justify-center align-center">
        <v-col class="text-center" cols="12" md="6">
          <v-toolbar dense>
            <vuetify-algolia-places
                v-model="place"
                append-icon="near_me"
                :language="this.$i18n.locale == 'fr-FR' ? 'fr' : 'en'"
                around-radius="50000"
                type="city"
                style="padding-top: 25px"
            />
          </v-toolbar>
          <v-btn
              style="height: 50px; margin-top: 15px;"
              color="secondary"
              dark
              to="/secure"
          >
            {{ $t('search') }}
          </v-btn>
          <v-spacer/>
          <v-row cols="12" md="4">
            <v-col>
              <h3 style="color: black; padding-top: 30px;">
                {{ $t('home1') }}<br>{{ $t('home11') }}
              </h3>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
    </v-container>

    <div
        id="scrolling-techniques-7"
        class="parallax" :class="setParallaxSize"
    />
    <v-container class="pa-0">
      <v-row>
        <v-col class="pa-0">
          <v-img max-height="100%" max-width="100%" src="@/assets/EatCook.png"></v-img>
        </v-col>
      </v-row>
    </v-container>
    <!-- ------------- -->
    <div class="parallax2" :class="setParallaxSize"/>
    <v-container class="pa-0">
      <v-row>
        <v-col class="pa-0">
          <v-img max-height="400px" min-height="100px" src="@/assets/CommunEatoo.png"></v-img>
        </v-col>
      </v-row>
    </v-container>
    <!-- ------------------ -->
    <div class="parallax3" :class="setParallaxSize"/>
    <v-container class="pa-0">
      <v-row>
        <v-col class="pa-0">
          <v-img max-height="400px" min-height="100px" src="@/assets/DlHome.png"></v-img>
        </v-col>
      </v-row>
    </v-container>
    <div class="parallax4" :class="setParallaxSize"/>
  </div>
</template>

<script>
export default {
  name: 'Home',
  data() {
    return {
      place: null
    }
  },
  methods: {},

  computed: {
    setParallaxSize() {
      return {
        'setSizeParallax-lg': this.$vuetify.breakpoint.lgAndUp,
        'setSizeParallax-md': this.$vuetify.breakpoint.md,
        'setSizeParallax-sm': this.$vuetify.breakpoint.smAndDown

      }
    }
  }
}
</script>

<style scoped>
.losange {
  width: 200%;
  border: 155px solid transparent;
  border-bottom: 400px solid #A4B989;
  position: absolute;
  top: -155px;
}

/* -------------------------------------- */
.steps-inner {
  position: relative;
  margin: 0 auto;
  max-width: 1000px;
  height: 100%;
}

.steps-inner .steps-wrapper {
  position: relative;
  margin-left: 0;
  display: block;
  width: auto;
}

.steps-inner .number-of-steps-1 .step-wrapper, .number-of-steps-2 .step-wrapper, .number-of-steps-3 .step-wrapper, .steps-inner .number-of-steps-4 .step-wrapper, .steps-inner .number-of-steps-5 .step-wrapper {
  width: 18.00%;
  float: left;
}

.steps-inner .steps-wrapper .step-wrapper .step-icon {
  display: block;
  text-align: center;
}

.steps-inner .steps-wrapper .step-wrapper .step-icon:before {
  content: attr(data-icon);
  line-height: 110px;
  font-size: 80px;
  color: #ff8000;
}

.steps-inner .steps-wrapper .step-wrapper .step-number {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 35px;
  line-height: 35px;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  background-color: #A4B989;
  font-size: 15px;
  left: 0;
  top: -20px;
}

.steps-inner .steps-wrapper .step-wrapper .step-headline {
  font-weight: 600;
  position: relative;
  display: block;
  margin: 8px 0 16px;
  color: #000000;
  font-size: 18px;
  text-align: center;
}

.steps-inner .step-seperator {
  display: block;
  position: relative;
  top: 70px;
  float: left;
}

.steps-inner .step-seperator:before {
  content: "─";
  line-height: 1;
  color: #999;
  font-size: 25px;
  display: inline-block;
}

/* -------------------------------------- */

.v-application .primary--text >>> fieldset {
  color: green !important;
  caret-color: green !important;
}

.setSizeParallax-lg {
  height: 450px !important;
}

.setSizeParallax-md {
  height: 300px !important;
}

.setSizeParallax-sm {
  height: 150px !important;
}

.parallax {
  /* The image used */
  background-image: url('../assets/Home_parallax_1.jpg');

  /* Set a specific height */
  height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax2 {
  /* The image used */
  background-image: url('../assets/Home_parallax_2.jpg');

  /* Set a specific height */
  height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax3 {
  /* The image used */
  background-image: url('../assets/Home_parallax_3.jpg');

  /* Set a specific height */
  height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax4 {
  /* The image used */
  background-image: url('../assets/Home_Parallax_4.jpg');

  /* Set a specific height */
  height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
</style>
