<template>
  <div
    id="login"
    class="login bg"
    :class="setBackgroundSize"
  >
    <v-container class="fill-height">
      <v-row class="justify-center align-center">
        <v-col
          cols="12"
          md="6"
          lg="4"
        >
          <v-card
            color="rgba(255, 255, 255, 0.95)"
            class="pa-8 mt-16"
            style="padding: 20px;"
          >
            <p
              class="h4 mb-4"
              align="middle"
            >
              {{ $t('connection') }}
            </p>

            <v-form
              ref="form"
              lazy-validation
            >
              <v-text-field
                v-model="identification"
                prepend-icon="person"
                type="email"
                outlined
                dense
                color="primary"
                required
                :label="'Email / ' + $t('username')"
              />

              <v-text-field
                v-model="password"
                prepend-icon="lock"
                type="password"
                outlined
                dense
                color="primary"
                required
                :label="$t('password')"
                @keypress.enter="login"
              />

              <div style="text-align: center">
                <v-btn
                  id="loginButton"
                  color="secondary"
                  class="btn btn-info btn-block my-4 px-16"
                  @click="login"
                >
                  {{ $t('connect') }}
                </v-btn>
              </div>
            </v-form>

            <div
              class="text-center"
              style="margin-top: 20px"
            >
              <p>
                {{ $t('notmember') }}
                <router-link :to="{ name: 'register' }" class="primary--text">
                  {{ $t('register') }}
                </router-link>
              </p>
            </div>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
import sha256 from 'js-sha256'

export default {
  name: 'LoginPage',
  data() {
    return {
      identification: '',
      password: '',
      reg: /^(([^<>()\\[\]\\.,;:\s@"]+(\.[^<>()\\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,24}))$/
    }
  },
  methods: {
    login() {
      if (this.identification.length < 3) {
        this.$notify({
          group: 'test',
          type: 'error',
          text: this.$t('loginerror3')
        });
        return;
      }
      const hashedPassword = sha256(this.password);
      if (this.reg.test(this.identification) === true) {
        this.$store.dispatch('login', {"email": this.identification, "password": hashedPassword})
            .then(() => {
              this.$router.push('/secure');
              this.$notify({group: 'test', type: 'success', text: this.$t('connected')});
            })
            .catch(err => {
              err;
              this.$notify({
                group: 'test',
                type: 'error',
                text: this.$t('loginerror1')
              });
            })
      } else {
        this.$store.dispatch('login', {"username": this.identification, "password": hashedPassword})
            .then(() => {
              this.$router.push('/secure');
              this.$notify({group: 'test', type: 'success', text: this.$t('connected')});
            })
            .catch(err => {
              err;
              this.$notify({
                group: 'test',
                type: 'error',
                text: this.$t('loginerror2')
              });
            })
      }
    }
  },
  computed: {
    setBackgroundSize() {
      return {
        'setBackgroundHeight-lg': this.$vuetify.breakpoint.lgAndUp,
        'setBackgroundHeight-md': this.$vuetify.breakpoint.mdAndDown,

      }
    }
  }
}
</script>

<style scoped>

.bg {
  /* The image used */
  background-image: url("../assets/background.jpg");

  /* Full height */
  margin-top: -64px;
  height: calc(100vh - 361px);

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

</style>

<style scoped>

.setBackgroundHeight-lg {
  height: calc(100vh - 220px) !important;
}

.setBackgroundHeight-md {
  height: calc(100vh + 64px) !important;
}

.label-color input::placeholder {
  color: black !important;
  opacity: 1;
}

.label-color .v-label {
  color: black !important;
  opacity: 1;
}

.label-color input {
  color: black !important;
}

.label-color .v-icon {
  color: black !important;
}

#login .theme--light.v-text-field > .v-input__control > .v-input__slot:before {
  border-color: black !important;
}
</style>
