<template>
  <v-container>
    <v-row>
      <v-col>
        <v-card class="px-8 pt-8 pb-4">
          <v-card-title class="justify-center text-h4 pb-8">
            {{ $t('mydish') }}
          </v-card-title>
          <v-list>
            <v-hover v-slot="{ hover }" v-for="(dishe, index) in dishes" :key="index">
              <v-list-item class="my-4 pl-2" v-on="disheListeners(dishe, index)">
                <v-overlay
                  v-if="disheIsAvailable(dishe)"
                  absolute
                  :opacity="0.35"
                  color="grey darken-2"
                  :value="hover"
                >
                  <v-icon size="36">edit</v-icon>
                </v-overlay>
                <v-row :class="`project ${'dishestatus' + (disheIsAvailable(dishe) ? '1' : '2')}`">
                  <v-col cols="12" md="4" lg="4">
                    <div class="caption grey--text">
                      {{ $t('dishname') }}
                    </div>
                    <div class="d-flex align-start">
                      {{ dishe.dishName }}
                      <v-spacer />
                      <v-chip
                        label
                        small
                        :style="$vuetify.breakpoint.smAndDown ? 'min-width: 70px;' : 'min-width: 100px;'"
                        class="justify-center d-md-none mt-0"
                        dark
                        :class="`${'dishestatus' + (disheIsAvailable(dishe) ? '1' : '2')} my-2`"
                      >
                        {{ $t(disheIsAvailable(dishe) ? 'sellerDishStatus.pending' : 'sellerDishStatus.done') }}
                      </v-chip>
                    </div>
                  </v-col>
                  <v-col cols="6" md="4" lg="3" class="mt-n4 mt-md-0">
                    <div class="caption grey--text">
                      {{ $t('units') }}
                    </div>
                    <div>{{ dishe.quantity }}</div>
                  </v-col>
                  <v-col cols="6" md="4" lg="2" class="mt-n4 mt-md-0 text-right text-md-left">
                    <div class="caption grey--text">
                      {{ $t('price') }}
                    </div>
                    <div>{{ dishe.price }}€</div>
                  </v-col>
                  <v-col cols="12" md="4" lg="3" class="d-none d-md-flex">
                    <v-spacer />
                    <v-chip
                      label
                      style="min-width: 100px;"
                      class="justify-center"
                      dark
                      :class="`${'dishestatus' + (disheIsAvailable(dishe) ? '1' : '2')} my-2`"
                    >
                      {{ $t(disheIsAvailable(dishe) ? 'sellerDishStatus.pending' : 'sellerDishStatus.done') }}
                    </v-chip>
                  </v-col>
                </v-row>
              </v-list-item>
            </v-hover>
          </v-list>
        </v-card>
      </v-col>
    </v-row>
    <v-dialog
        v-model="modal"
        max-width="600px"
    >
      <template v-slot:activator="{ on }"/>
      <v-card>
        <v-card-title>
          <span class="headline">{{ $t('modifydish') }}</span>
          <v-spacer />
          <v-btn
            text
            @click="modal = false"
            icon
          >
            <v-icon>close</v-icon>
          </v-btn>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-row>
              <v-col cols="12">
                <v-text-field
                    v-model="tmpDishe.dishName"
                    color="primary"
                    dense
                    hide-details
                    outlined
                    :label="$t('dishname')"
                    required
                />
              </v-col>
              <v-col cols="12">
                <v-text-field
                    v-model="tmpDishe.ingredients"
                    :label="$t('topics')"
                    color="primary"
                    hide-details
                    dense
                    outlined
                    required
                />
              </v-col>
              <v-col cols="12">
                <v-select
                  v-model="tmpDishe.quantity"
                  :items="['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']"
                  :label="$t('units')"
                  color="primary"
                  item-color="primary"
                  hide-details
                  required
                  outlined
                  dense
                />
              </v-col>
              <v-col cols="12">
                <v-text-field
                    :value="tmpDishe.price"
                    color="primary"
                    :label="$t('price')"
                    dense
                    type="number"
                    min="0"
                    max="20"
                    step="0.1"
                    outlined
                    hide-details
                    required
                />
              </v-col>
              <v-col cols="12">
                <v-select
                    v-model="tmpDishe.deliveryHour"
                    color="primary"
                    dense
                    hide-details
                    outlined
                    :items="['07:00', '07:30', '08:00', '08:30', '09:00', '09:30', '10:00', '10:30', '11:00', '11:30', '12:00', '12:30', '13:00', '13:30', '14:00', '14:30', '15:00', '15:30', '16:00', '16:30', '17:00', '17:30', '18:00', '18:30', '19:00', '19:30', '20:00', '20:30', '21:00', '21:30', '22:00', '22:30', '23:00', '23:30']"
                    :label="$t('hour')"
                    required
                />
              </v-col>
            </v-row>
          </v-container>
        </v-card-text>
        <v-card-actions class="justify-center mx-8 pb-6">
          <v-btn color="error" text @click="deleteDish">
            {{ $t('delete') }}
            <v-icon right>warning</v-icon>
          </v-btn>
          <v-spacer />
          <v-btn color="secondary" @click="saveModification">
            {{ $t('save') }}
            <v-icon right>done</v-icon>
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>

export default {
  name: "ModifyDish",
  data() {
    return {
      dishes: [],
      modal: false,
      tmpDishe: {dishName: '', quantity: '', price: '', ingredients: [], deliveryHour: ''},
      tmpIndex: 0
    }
  },
  mounted() {
    this.$store.dispatch('userDish', this.dish)
        .then((resp) => {
          this.dishes = resp.data.dishes;
          this.dishes.sort((d1, d2) => {
            if (d1.isAvailable === true && !d1.isOrdered) {
              return -1
            } else if (d2.isAvailable === true && !d2.isOrdered) {
              return 1
            }
            return 0
          })
        })
        .catch(err => {
          console.log(err);
          this.$notify({group: 'test', type: 'error', text: this.$t('impossibletoload')});
        })
  },
  methods: {
    disheIsAvailable (dishe) {
      return dishe.isAvailable === true && !dishe.isOrdered
    },
    disheListeners (dishe, index) {
      if (dishe.isAvailable === true && !dishe.isOrdered) {
        const vm = this
        return {
          'click': function () { vm.saveActualDishe(index) }
        }
      }
      return {}
    },
    saveActualDishe(index) {
      this.modal = true;
      this.tmpDishe.dishName = this.dishes[index].dishName;
      this.tmpDishe.quantity = this.dishes[index].quantity;
      this.tmpDishe.price = this.dishes[index].price;
      this.tmpDishe.ingredients = this.dishes[index].ingredients;
      this.tmpDishe.deliveryHour = this.dishes[index].deliveryHour;
      console.log(this.tmpDishe)
      this.tmpIndex = index;
    },
    saveModification() {

      var tmp = {};

      if (this.dishes[this.tmpIndex].dishName !== this.tmpDishe.dishName)
        tmp.dishName = this.tmpDishe.dishName;
      if (this.dishes[this.tmpIndex].quantity !== this.tmpDishe.quantity)
        tmp.quantity = this.tmpDishe.quantity;
      if (this.dishes[this.tmpIndex].price !== this.tmpDishe.price)
        tmp.price = this.tmpDishe.price;
      if (this.dishes[this.tmpIndex].ingredients !== this.tmpDishe.ingredients)
        tmp.ingredients = this.tmpDishe.ingredients;
      if (this.dishes[this.tmpIndex].deliveryHour !== this.tmpDishe.deliveryHour)
        tmp.deliveryHour = this.tmpDishe.deliveryHour;
      this.$store.dispatch('updateUserDish', {data: tmp, id: this.dishes[this.tmpIndex].id})
          .then(() => {
            this.$notify({group: 'test', type: 'success', text: this.$t('uploaddish')});
            this.dishes[this.tmpIndex].dishName = this.tmpDishe.dishName;
            this.dishes[this.tmpIndex].quantity = this.tmpDishe.quantity;
            this.dishes[this.tmpIndex].price = this.tmpDishe.price;
            this.dishes[this.tmpIndex].ingredients = this.tmpDishe.ingredients;
            this.dishes[this.tmpIndex].deliveryHour = this.tmpDishe.deliveryHour;
            this.modal = false;
          })
          .catch(err => {
            err;
            this.$notify({group: 'test', type: 'error', text: this.$t('impossibletosave')});
          })

      this.modal = false;
    },
    deleteDish() {
      if (!confirm('Supprimer ce plat ?')) {
        return
      }
      this.$store.dispatch('deleteUserDish', this.dishes[this.tmpIndex].id)
          .then(() => {
            this.$notify({group: 'test', type: 'success', text: this.$t('deletedish')});
            this.dishes.splice(this.tmpIndex, 1);
            this.modal = false;

          })
          .catch(err => {
            err;
            this.$notify({group: 'test', type: 'error', text: this.$t('impossibletosave')});
          })
    }
  }
}
</script>

<style scoped>

.board {
  margin-top: 80px;
}

.project.dishestatus2 {
  border-left: 4px solid #3cd1c2;
}

.project.dishestatus1 {
  border-left: 4px solid #ffaa2c;
}

.project.dishestatus3 {
  border-left: 4px solid #f83e70;
}

.v-chip.dishestatus2 {
  background: #3cd1c2 !important;
}

.v-chip.dishestatus1 {
  background: #ffaa2c !important;
}

.v-chip.dishestatus3 {
  background: #f83e70 !important;
}

</style>
