<template>
  <div style="height: 100%">
    <v-card raised>
      <div>
        <h3 style="text-align: center; margin-top: 30px">
          {{ $t('congrats') }}
        </h3>
        <h3 style="text-align: center; margin-top: 50px">
          {{ $t('orderConfirmation') }}
        </h3>
        <div>
          <hr
            class="hr-dark"
            style="width: 50%; margin-left: 25%"
          >
        </div>
        <v-card class="infoCard">
          <br>
          <v-text-field
            v-model="test"
            readonly
            prepend-icon="person"
            style="width: 80%; margin-left: 10%"
            color="#638548"
            :label="$t('dishname')"
          />
          <v-text-field
            v-model="test"
            readonly
            prepend-icon="phone"
            style="width: 80%; margin-left: 10%"
            color="#638548"
            :label="$t('phone')"
          />
          <v-text-field
            v-model="test"
            readonly
            prepend-icon="alarm"
            style="width: 80%; margin-left: 10%"
            color="#638548"
            :label="$t('hour')"
          />
          <v-text-field
            v-model="test"
            readonly
            prepend-icon="place"
            style="width: 80%; margin-left: 10%"
            color="#638548"
            :label="$t('address')"
          />
        </v-card>
        <div style="text-align: center; margin-top: 40px">
          <v-btn
            id="valid"
            width="30%"
            color="#638548"
            class="btn btn-block my-4"
            @click="validate"
          >
            {{ $t('validate') }}
          </v-btn>
        </div>
      </div>
    </v-card>
  </div>
</template>

<script>
    export default {
        name: "OrderConfirmation",
        methods: {
            validate: function () {
                this.$router.push('/secure');
            }
        }
    }
</script>

<style scoped>
    .infoCard {
        width: 80%;
        height: 320px;
        left: 10%;
    }

    #valid {
        border-color: #537538 !important;
        background-color: #638548 !important;
        color: white;
    }
</style>
