<template>
  <v-container
  >
    <v-row>
      <v-col>
        <v-card class="px-8 pt-8 pb-4">
          <v-card-title class="justify-center text-h4 pb-8">
            {{ $t('myorder') }}
          </v-card-title>
          <v-list>
            <v-hover v-for="(order, index) in orders" :key="index" v-slot="{ hover }">
              <v-list-item  class="my-4 pl-2" v-on="orderListeners(order)">
                <v-overlay
                  v-if="orderIsAvailable(order)"
                  absolute
                  :opacity="0.35"
                  color="grey darken-2"
                  :value="hover"
                >
                  <v-icon size="36">done</v-icon>
                </v-overlay>
                <v-row class="project" :class="orderClassName(order)">
                  <v-col cols="12" md="4" lg="4">
                    <div class="caption grey--text">
                      {{ $t('dishname') }}
                    </div>
                    <div>{{ order.dish.dishName }}</div>
                  </v-col>
                  <v-col cols="12" md="4" lg="3">
                    <div class="caption grey--text">
                      {{ $t('units') }}
                    </div>
                    <div>{{ order.quantity }}</div>
                  </v-col>
                  <v-col cols="12" md="4" lg="2">
                    <div class="caption grey--text">
                      {{ $t('price') }}
                    </div>
                    <div>{{ order.dish.price * order.quantity }}€</div>
                  </v-col>
                  <v-col cols="12" md="4" lg="3" class="text-right">
                    <div class="right">
                      <v-chip
                        style="min-width: 170px;"
                        class="justify-center my-2"
                        label
                        dark
                        :class="orderClassName(order)"
                      >
                        {{ orderStatus(order) }}
                      </v-chip>
                    </div>
                  </v-col>
                </v-row>
              </v-list-item>
            </v-hover>
          </v-list>
        </v-card>
      </v-col>
    </v-row>
    <v-dialog :value="!!orderToValidate" :max-width="550" persistent>
      <v-card class="d-flex align-center pa-8 justify-space-around">
        <span class="text-h6">{{ $t('dishReceivedConfirmation') }}</span>
        <v-btn color="secondary" depressed @click="setOrderReceived" class="mx-4">
          {{ $t('common.yes') }}
          <v-icon right>done</v-icon>
        </v-btn>
        <v-btn outlined text @click="orderToValidate = null">
          {{ $t('common.no') }}
          <v-icon right>close</v-icon>
        </v-btn>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
import axios from 'axios'
export default {
  name: "Orders",
  data() {
    return {
      orders: [],
      modal: false,
      orderToValidate: null
    }
  },
  mounted() {
    this.$store.dispatch('userOrder')
        .then((resp) => {
          this.orders = resp.data.orders;
          this.orders.sort((order1, order2) => {
            const orderIndex1 = this.orderStatusIndex(order1)
            const orderIndex2 = this.orderStatusIndex(order2)
            if (orderIndex1 < orderIndex2) {
              return -1;
            } else if (orderIndex1 === orderIndex2) {
              return 0;
            } else {
              return 1;
            }
          })
        })
        .catch(err => {
          console.log(err);
          this.$notify({group: 'test', type: 'error', text: this.$t('impossibletoload')});
        })
  },
  methods: {
    setOrderReceived () {
      axios.get(`https://dev.api.eatoo.tech/orders/delivery/buyer/${this.orderToValidate.id}`)
        .then(({ data }) => {
          this.orderToValidate.sellerStatus = data.order.sellerStatus
          this.orderToValidate.buyerStatus = data.order.buyerStatus
          this.orderToValidate.isDelivered = data.order.isDelivered
          this.orderToValidate = null
        })
        .catch((err) => {
          console.log(err)
        })
    },
    orderIsAvailable (order) {
      return !order.buyerStatus
    },
    orderListeners (order) {
      if (this.orderIsAvailable(order)) {
        const vm = this
        return {
          'click': function () { vm.orderToValidate = order }
        }
      }
      return {}
    },
    orderStatus (order) {
      if (!order.buyerStatus) {
        return this.$t('buyerDishStatus.buyerPending')
      } else if (!order.sellerStatus) {
        return this.$t('buyerDishStatus.sellerPending')
      } else {
        return this.$t('buyerDishStatus.done')
      }
    },
    orderStatusIndex (order) {
      if (!order.buyerStatus) {
        return 1
      } else if (!order.sellerStatus) {
        return 2
      } else {
        return 3
      }
    },
    orderClassName (order) {
      return {
        'dishestatus1': !order.buyerStatus,
        'dishestatus2': !order.sellerStatus && order.buyerStatus,
        'dishestatus3': order.isDelivered,
      }
    }
  }
}
</script>

<style scoped>

.project.dishestatus2 {
  border-left: 4px solid #3cd1c2 !important;
}

.project.dishestatus1 {
  border-left: 4px solid #ffaa2c !important;
}

.project.dishestatus3 {
  border-left: 4px solid #f83e70 !important;
}

.v-chip.dishestatus2 {
  background: #3cd1c2 !important;
}

.v-chip.dishestatus1 {
  background: #ffaa2c !important;
}

.v-chip.dishestatus3 {
  background: #f83e70 !important;
}
</style>
