<template>
  <div style="height: 100%; padding-top: 10vh">
    <v-card
      raised
      style="max-width : 80%; margin: auto"
    >
      <v-layout
        row
        wrap
        justify-space-around
      >
        <v-flex
          xs12
          md12
        >
          <h3 style="text-align: center; margin-top: 30px">
            {{ $t('orderCost') }}
          </h3>
          <div>
            <h2 style="text-align: center; margin-top: 50px">
              7€
            </h2>
          </div>
          <h3 style="text-align: center; margin-top: 50px">
            {{ $t('payementMethod') }}
          </h3>
          <hr
            class="hr-dark"
            style="width: 50%; margin-left: 25%"
          >
          <div>
            <img
              src="/Methods.png"
              alt=""
              style="width: 50%; margin-left: 25%"
            >
          </div>
        </v-flex>
        <v-flex
          xs12
          md6
          style="text-align: center; margin-top: 50px"
        >
          <v-btn
            id="valid"
            width="30%"
            color="#638548"
            class="btn btn-block my-4"
            @click="validate"
          >
            {{ $t('validate') }}
          </v-btn>
        </v-flex>
      </v-layout>
    </v-card>
  </div>
</template>

<script>
    export default {
        name: "Payement",
        methods: {
            validate: function () {
                this.$router.push('/orderconfirmation');
            }
        }
    }
</script>

<style scoped>

    #valid {
        border-color: #537538 !important;
        background-color: #638548 !important;
        color: white;
    }
</style>
