<template>
  <v-container>
    <div
      v-if="this.$i18n.locale === 'fr-FR'"
      style="margin-top: 150px; margin-bottom: 50px; text-align: justify"
    >
      <h1 style="text-align: center">
        Politique de confidentialité (standard RGPD)
      </h1>
      <p style="text-align: center">
        Sécurité et protection des données personnelles
      </p>
      <br><br><br><br><br>
      <span>
        <strong>
          Introduction: <br>
          Devant le développement des nouveaux outils de communication, il est nécessaire de porter une attention particulière à la protection de la vie privée. C'est pourquoi, nous nous engageons à respecter la confidentialité des renseignements personnels que nous collectons.
        </strong>
        <br><br><br><br>
        <h4 style="text-align: center">1 - Renseignements personnelles collectés</h4>
        <br><br>
        Nous collectons les renseignements suivants :
        <br>
        - Nom
        <br>
        - Prénom
        <br>
        - Nom d’utilisateur
        <br>
        - Mot de passe
        <br>
        - Adresse postale
        <br>
        - Code postal
        <br>
        - Adresse électronique
        <br>
        - Numéro de téléphone / télécopieur
        <br>
        - Âge / Date de naissance
        <br><br>
        Les renseignements personnels que nous collectons sont recueillis au travers de formulaires et grâce à l'interactivité établie entre vous et notre Eatoo. Nous utilisons également, comme indiqué dans la section suivante, des fichiers témoins et/ou journaux pour réunir des informations vous concernant.
        <br><br><br>
        <h4 style="text-align: center">2 - Formulaires et interactivité</h4>
        <br><br>

        Vos renseignements personnels sont collectés par le biais de formulaire, à savoir :
        <br>
        - Formulaire d'inscription au site Web
        <br>
        - Formulaire de commande
        <br>
        - Sondage d'opinion
        <br><br>
        Nous utilisons les renseignements ainsi collectés pour les finalités suivantes :
        <br>
        - Suivi de la commande
        <br>
        - Informations / Offres promotionnelles
        <br>
        - Statistiques
        <br>
        - Contact
        <br><br>
        Vos renseignements sont également collectés par le biais de l'interactivité pouvant s'établir entre vous et Eatoo et ce, de la façon suivante :
        <br>
        - Statistiques
        <br>
        - Contact
        <br><br>
        Nous utilisons les renseignements ainsi collectés pour les finalités suivantes :
        <br>
        - Adresse de livraison
        <br>
        - Sécurité du profil utilisateur
        <br>
        - Procédé de commande
        <br>
        - Informations ou pour des offres promotionnelles

        <br><br><br>
        <h4 style="text-align: center">3 - Fichiers journaux et témoins</h4>
        <br><br>

        Nous recueillons certaines informations par le biais de fichiers journaux (log file) et de fichiers témoins (cookies). Il s'agit principalement des informations suivantes :
        <br>
        - Adresse IP
        <br>
        - Système d'exploitation
        <br>
        - Pages visitées et requêtes
        <br>
        - Heure et jour de connexion
        <br><br>
        Le recours à de tels fichiers nous permet :
        <br>
        - Amélioration du service et accueil personnalisé
        <br>
        - Profil personnalisé de consommation
        <br>
        - Suivi de commande
        <br>
        - Statistique
        <br><br>
        <h4 style="text-align: center">4 - Droit d'opposition et de retrait</h4>
        <br><br>

        Nous nous engageons à vous offrir un droit d'opposition et de retrait quant à vos renseignements personnels. Le droit d'opposition s'entend comme étant la possiblité offerte aux internautes de refuser que leurs renseignements personnels soient utilisés à certaines fins mentionnées lors de la collecte.
        Le droit de retrait s'entend comme étant la possiblité offerte aux internautes de demander à ce que leurs renseignements personnels ne figurent plus, par exemple, dans une liste de diffusion.
        <br>Pour pouvoir exercer ces droits, vous pouvez :
        <br>Code postal : 5-9 Rue du PalaisRihour, Lille 59000
        <br> Courriel : eatoo.app@gmail.com
        <br>Téléphone : 0628037729
        <br>Section du site web : eatoo.tech
        <br>


        <h4 style="text-align: center">5 - Droit d'accès</h4>
        <br><br>
        Nous nous engageons à reconnaître un droit d'accès et de rectification aux personnes concernées désireuses de consulter, modifier, voire radier les informations les concernant.L'exercice de ce droit se fera :
        <br>Code postal : 5-9 Rue du Palais Rihour, Lille 59000
        <br> Courriel : eatoo.app@gmail.com
        <br>Téléphone : 0628037729
        <br>Section du site web : eatoo.tech
        <br>

        <h4 style="text-align: center">6 - Sécurité</h4>
        <br><br>
        Les renseignements personnels que nous collectons sont conservés dans un environnement sécurisé. Les personnes travaillant pour nous sont tenues de respecter la confidentialité de vos informations.Pour assurer la sécurité de vos renseignements personnels, nous avons recours aux mesures suivantes:
        <br>
        - Protocole SSL (Secure Sockets Layer)
        <br>
        - Gestion des accès - personne autorisée
        <br>
        - Gestion des accès - personne concernée
        <br>
        - Logiciel de surveillance du réseau
        <br>
        - Sauvegarde informatique
        <br>
        - Développement de certificat numérique
        <br>
        - Identifiant / mot de passe
        <br>
        - Pare-feu (Firewalls)
        <br><br>
        Nous nous engageons à maintenir un haut degré de confidentialité en intégrant les dernières innovations technologiques permettant d'assurer la confidentialité de vos transactions. Toutefois, comme aucun mécanisme n'offre une sécurité maximale, une part de risque est toujours présente lorsque l'on utilise Internet pour transmettre des renseignements personnels.
        <br><br>
        <h4 style="text-align: center">7 - Géolocalisation</h4>
        <br><br>

        <h6>Géolocalisation à des fins de croisement</h6>
        <br>Nous collectons et traitons vos données de géolocalisation afin de permettre à nos services d'identifier les points de croisement dans le temps et dans l'espace avec d'autres Utilisateurs du service afin de vous présenter le profil des Utilisateurs croisés.Conformément à votre droit d'opposition prévu par la loi n°78-17 du 6 janvier 1978 relative à l'informatique,aux fichiers et aux libertés, vous avez la possibilité, à tout moment,de désactiver les fonctions relatives à la géolocalisation.Vous reconnaissez alors que le service ne sera plus en mesure de vous présenter de profil des autres Utilisateurs.
        <br><br>
        <h4 style="text-align: center">8 - Cookies</h4>
        <br><br>

        <h6>Durée de conservation des cookies</h6>
        <br>
        Conformément aux recommandations de la CNIL, la durée maximale de conservation des cookies est de 13 mois au maximum après leur premier dépôt dans le terminal de l'Utilisateur, tout comme la durée de la validité du consentement de l’Utilisateur à l’utilisation de ces cookies. La durée de vie des cookies n’est pas prolongée à chaque visite. Le consentement de l’Utilisateur devra donc être renouveléà l'issue de ce délai.
        <br><br>

        <h6>Finalité cookies</h6>
        <br>
        Les cookies peuvent être utilisés pour des fins statistiques notamment pour optimiser les services rendus à l'Utilisateur, à partir du traitement des informations concernant la fréquence d'accès, la personnalisation des pages ainsi que les opérations réalisées et les informations consultées.
        Vous êtes informé que Eatoo est susceptible de déposer des cookies sur votre terminal. Le cookie enregistre des informations relatives à la navigation sur le service (les pages que vous avez consultées, la date et l'heure de la consultation...) que nous pourrons lire lors de vos visites ultérieures.
        <br><br>
        <h6>Droit de l'Utilisateur de refuser les cookies, la désactivation entraînant un fonctionnement dégradé du service</h6>
        <br>
        Vous reconnaissez avoir été informé que Eatoo peut avoir recours à des cookies, et l'y autorisez. Si vous ne souhaitez pas que des cookies soient utilisés sur votre terminal, la plupart des navigateurs vous permettent dedésactiver les cookies en passant par les options de réglage. Toutefois,vous êtes informé que certains services sont susceptibles de ne plus fonctionner correctement.
        <br><br>

        <h6>Association possible des cookies avec des données personnelles pour permettre le fonctionnement du service</h6>
        <br>
        EatooApp peut être amenée à recueillir des informations de navigation via l'utilisation de cookies.
      </span>
    </div>


    <!--   PARTIE ANGLAIS      PARTIE ANGLAIS       PARTIE ANGLAIS     PARTIE ANGLAIS     PARTIE ANGLAIS -->


    <div
      v-if="this.$i18n.locale === 'en-GB'"
      style="margin-top: 150px; margin-bottom: 50px; text-align: justify"
    >
      <h1 style="text-align: center">
        Privacy policy (RGPD standard)
      </h1>
      <p style="text-align: center">
        Security and protection of personal data
      </p>
      <br><br><br><br><br>
      <span>
        <strong>
          Introduction: <br>
          With the development of new communication tools, it is necessary to pay particular attention to the protection of privacy. This is why we are committed to respecting the confidentiality of the personal information we collect.
        </strong>
        <br><br><br><br>
        <h4 style="text-align: center">1 - Personal information collected</h4>
        <br><br>
        We collect the following information :
        <br>
        - Name
        <br>
        - First name
        <br>
        - Username
        <br>
        - Password
        <br>
        - Postal address
        <br>
        - Postcode
        <br>
        - Email address
        <br>
        - Telephone
        <br>
        - Age / Date of birth
        <br><br>
        The personal information we collect is collected through forms and through the interactivity established between you and our Eatoo. We also use, as indicated in the following section, cookies and/or log files to gather information about you.      <br><br><br>
        <h4 style="text-align: center">2 - Forms and interactivity</h4>
        <br><br>

        Your personal information is collected through forms, namely :
        <br>
        - Website registration form
        <br>
        - Order form
        <br>
        - Opinion poll
        <br><br>
        We use the information collected for the following purposes :
        <br>
        - Follow-up of the order
        <br>
        - Information / Promotional offers
        <br>
        - Statistics
        <br>
        - Contact
        <br><br>
        Your information is also collected through the interactivity that may be established between you and Eatoo in the following way :
        <br>
        - Statistics
        <br>
        - Contact
        <br><br>
        We use the information collected for the following purposes :
        <br>
        - Delivery address
        <br>
        - User profile security
        <br>
        - Ordering method
        <br>
        - Information or for promotional offers

        <br><br><br>
        <h4 style="text-align: center">3 - Log files and cookies</h4>
        <br><br>

        We collect certain information through log files and cookies. This information is mainly the following :
        <br>
        - IP address
        <br>
        - Operating system
        <br>
        - Visited pages and queries
        <br>
        - Time and day of connection
        <br><br>
        The use of such files allows us to :
        <br>
        - Improvement of the service and a personalized welcome
        <br>
        - Personalized consumption profile
        <br>
        - Order tracking
        <br>
        - Statistics
        <br><br>
        <h4 style="text-align: center">4 - Right of opposition and withdrawal</h4>
        <br><br>

        We are committed to offering you the right to oppose and withdraw your personal information. The right of opposition is the possibility offered to Internet users to refuse that their personal information be used for certain purposes mentioned at the time of collection.
        The right of withdrawal is the possibility offered to Internet users to request that their personal information no longer appear, for example, on a mailing list.
        <br>In order to exercise these rights, you may :
        <br>Postal address : 5-9 Rue du Palais Rihour, Lille 59000
        <br> Email : eatoo.app@gmail.com
        <br>Phone number : 0628037729
        <br>Section of the website: eatoo.tech
        <br>


        <h4 style="text-align: center">5 - Right of access</h4>
        <br><br>
        We undertake to recognize a right of access and rectification for the persons concerned who wish to consult, modify, or even delete information concerning them, and to exercise this right :
        <br>Code postal : 5-9 Rue du Palais Rihour, Lille 59000
        <br> Email : eatoo.app@gmail.com
        <br>Phone number : 0628037729
        <br>Section of the website: eatoo.tech
        <br>

        <h4 style="text-align: center">6 - Security</h4>
        <br><br>
        The personal information we collect is kept in a secure environment. The people working for us are required to respect the confidentiality of your information. To ensure the security of your personal information, we use the following measures :
        <br>
        - SSL (Secure Sockets Layer) protocol
        <br>
        - Access management - authorized person
        <br>
        - Access management - person concerned
        <br>
        - Network monitoring software
        <br>
        - Computer backup
        <br>
        - Digital certificate development
        <br>
        - Login / password
        <br>
        - Firewalls
        <br><br>
        We are committed to maintaining a high degree of confidentiality by incorporating the latest technological innovations to ensure the confidentiality of your transactions. However, since no mechanism offers maximum security, a degree of risk is always present when using the Internet to transmit personal information.
        <br><br>
        <h4 style="text-align: center">7 - Geolocation</h4>
        <br><br>

        <h6>Geolocation for crossover purposes</h6>
        <br>
        We collect and process your geolocation data in order to enable our services to identify cross points in time and space with other Users of the service in order to present you with the profile of crossed Users.In accordance with your right of opposition provided for by the law n°78-17 of 6 January 1978 relating to data processing, files and liberties, you have the possibility, at any time, to deactivate the functions relating to geolocation.You then acknowledge that the service will no longer be able to present you with the profile of other Users.
        <br><br>
        <h4 style="text-align: center">8 - Cookies</h4>
        <br><br>

        <h6>Cookie retention time</h6>
        <br>
        In accordance with the recommendations of the CNIL, the maximum storage period for cookies is a maximum of 13 months after their first deposit in the User's terminal, as is the duration of the validity of the User's consent to the use of these cookies. The lifetime of cookies is not extended with each visit. The User's consent must therefore be renewed at the end of this period.
        <br><br>

        <h6>Purpose cookies</h6>
        <br>
        Cookies may be used for statistical purposes, in particular to optimise the services rendered to the User, based on the processing of information concerning the frequency of access, the personalization of pages, as well as the operations carried out and the information consulted. You are informed that Eatoo may deposit cookies on your terminal. The cookie records information relating to navigation on the service (the pages you have consulted, the date and time of consultation, etc.) that we will be able to read during your subsequent visits.
        <br><br>
        <h6>The User's right to refuse cookies, as deactivation will result in the service not working properly.</h6>
        <br>
        You acknowledge that you have been informed that Eatoo may use cookies, and authorize it to do so. If you do not wish cookies to be used on your device, most browsers allow you to deactivate cookies by going through the setting options. However, you are informed that certain services may no longer function correctly.
        <br><br>

        <h6>Possible association of cookies with personal data to enable the service to operate</h6>
        <br>
        EatooApp may collect browsing information through the use of cookies.
      </span>
    </div>
  </v-container>
</template>

<script>
export default {
  name: "Policy"
}
</script>

<style scoped>

</style>
