<template>
  <v-container>
    <v-row class="justify-center">
      <v-col cols="12">
        <v-card class="px-12 py-4">
          <v-row class="justify-center">
            <v-col class="text-center shrink">
              <div id="dishpict">
                <image-input
                  v-model="avatar"
                  pic-name="profilePicture"
                  @input="hasPic = false"
                >
                  <template #activator>
                    <v-avatar
                      v-if="!avatar"
                      v-ripple
                      size="150"
                      class="grey lighten-3 mb-3"
                    >
                      <span><v-icon size="50px">add_photo_alternate</v-icon><br>Click to <br>select avatar</span>
                    </v-avatar>
                    <v-avatar
                      v-else
                      v-ripple
                      size="150"
                      class="mb-3"
                    >
                      <img
                        :src="avatar.imageURL"
                        alt="avatar"
                      >
                    </v-avatar>
                  </template>
                </image-input>
                <v-slide-x-transition>
                  <div v-if="avatar && saved === false && hasPic === false">
                    <v-btn
                      id="save-picture"
                      :loading="saving"
                      @click="uploadImage"
                    >
                      Save Avatar
                    </v-btn>
                  </div>
                </v-slide-x-transition>
              </div>
            </v-col>
          </v-row>
          <v-row>
            <v-col>
              <h3 class="text-center text-h4 mb-12">
                {{ model.name }} {{ model.familyName }}
              </h3>
            </v-col>
          </v-row>
          <v-row>
            <v-col
              cols="12"
              md="6"
              class="px-0 px-md-6 px-lg-12"
              :style="$vuetify.breakpoint.smAndDown ? '' : 'border-right: 1px solid #CCC'"
            >
              <h6 class="text-h6 text-center mb-8">
                {{ $t('persoinfos') }}
              </h6>
              <v-text-field
                v-model="model.username"
                readonly
                disabled
                dense
                outlined
                prepend-icon="person"
                color="grey"
                :label="$t('username')"
              />
              <v-text-field
                v-model="model.email"
                type="email"
                dense
                outlined
                prepend-icon="alternate_email"
                color="primary"
                :label="$t('email')"
              />
              <v-text-field
                v-model="model.age"
                prepend-icon="cake"
                type="number"
                dense
                outlined
                color="primary"
                :label="$t('age')"
              />
            </v-col>
             <v-col
                  cols="12"
                  md="6"
                  class="px-0 px-md-6 px-lg-12"
                >
               <h6 class="text-h6 text-center mb-8">
                 {{ $t('contactinfos') }}
               </h6>
                <v-row>
                  <v-col
                    cols="12"
                    md="6"
                    class="py-0">
                    <v-text-field
                      v-model="prof.name"
                      prepend-icon="person"
                      dense
                      outlined
                      color="primary"
                      :label="$t('profilDatas.name')"
                    />
                  </v-col>
                  <v-col
                    cols="12"
                    md="6"
                    class="py-0">
                    <v-text-field
                      v-model="prof.familyName"
                      prepend-icon="person"
                      dense
                      outlined
                      color="primary"
                      :label="$t('profilDatas.familyName')"
                    />
                  </v-col>
                </v-row>
              <v-text-field
                v-model="model.phone"
                v-mask="'##########'"
                prepend-icon="phone"
                color="primary"
                dense
                outlined
                :label="$t('phone')"
              />
              <div class="d-flex align-center">
                <v-icon
                  class="shrink"
                  left
                >
                  near_me
                </v-icon>
                <vuetify-algolia-places
                  v-model="place"
                  append-icon=""
                  :language="this.$i18n.locale === 'fr-FR' ? 'fr' : 'en'"
                  around-radius="20000"
                  type="address"
                  outlined
                  background-color="white"
                  color="primary"
                  hide-details
                  :label="$t('localization')"
                  filled
                  dense
                />
              </div>
            </v-col>
          </v-row>
          <v-card-actions class="justify-center">
            <v-btn
              id="valid"
              min-width="30%"
              color="secondary"
              class="my-4 px-12"
              @click="modify"
            >
              {{ $t('validate') }}
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import ImageInput from "@/components/ImageInput";

export default {
  name: 'Profil',
  components: {
    ImageInput: ImageInput
  },
  data() {
    return {
      prof: {
        email: '',
        phone: '',
        age: '',
        name: '',
        familyName: ''
      },
      model: {
        name: '',
        familyName: '',
        username: '',
        email: '',
        age: '',
        phone: '',
        city: '',
        street: '',
        postalCode: '',
        country: '',
        latitude: '',
        longitude: '',
      },
      hasPic: false,
      avatar: null,
      saving: false,
      saved: false,
      place: null,
      reg: /^(([^<>()\\[\]\\.,;:\s@"]+(\.[^<>()\\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,24}))$/,
      regexPhone: /^((\+)33|0)[6-7](\d{2}){4}$/,
    }
  },
  watch: {
    avatar: {
      handler: function () {
        this.saved = false
      },
      deep: true
    }
  },
  created() {
    const token = localStorage.getItem('token');

    this.$store.dispatch('getMe', token)
            .then((resp) => {
              this.model.name = resp.data.name;
              this.prof.name = resp.data.name;
              this.model.familyName = resp.data.familyName;
              this.prof.familyName = resp.data.familyName;
              this.model.username = resp.data.username;
              this.model.email = resp.data.email;
              this.model.age = resp.data.age;
              this.model.phone = resp.data.phone;
              this.model.city = resp.data.city;
              this.model.street = resp.data.street;
              this.model.country = resp.data.country;
              this.model.postalCode = resp.data.postalCode;
              this.model.latitude = resp.data.latitude;
              this.model.longitude = resp.data.longitude;
              if (resp.data.profilePictureUrl) {
                this.avatar = {imageURL: ''};
                this.avatar.imageURL = resp.data.profilePictureUrl;
                this.hasPic = true;
              }
            })
            .catch(err => {
              err;
            })
  },
  methods: {
    modify () {
      if (this.place !== null) {
        this.model.city = this.place.city;
        this.model.street = this.place.name;
        this.model.country = this.place.country;
        this.model.postalCode = this.place.postcode;
        this.model.latitude = this.place.latlng.lat.toString();
        this.model.longitude = this.place.latlng.lng.toString();
      }
      if (this.prof.name.length > 30 || this.prof.familyName.length > 30) {
        this.$notify({
          group: 'test',
          type: 'error',
          text: this.$t('registererror2')
        });
        return;
      }
      if (!this.regexPhone.test(this.model.phone)) {
        this.$notify({
          group: 'test',
          type: 'error',
          text: this.$t('registererror1')
        });
        return;
      }
      if (this.model.phone.length !== 10) {
        this.$notify({
          group: 'test',
          type: 'error',
          text: this.$t('registererror1')
        });
        return;
      }
      this.model.name = this.prof.name;
      this.model.familyName = this.prof.familyName;
      this.$store.dispatch('modify', this.model)
          .then(() => {
            this.$notify({group: 'test', type: 'success', text: this.$t('profilUp')});
          })
          .catch(err => {
            err;
            this.$notify({group: 'test', type: 'error', text: this.$t('impossibletosave')});
          })
    },
    uploadImage() {
      this.saving = true
      setTimeout(() => this.$store.dispatch('modify', this.avatar.formData)
              .then(() => {
                this.$notify({group: 'test', type: 'success', text: this.$t('profilUp')});
                this.havePic = true;
                this.savedAvatar();
              })
              .catch(err => {
                err;
                this.$notify({group: 'test', type: 'error', text: this.$t('impossibletosave')});
              }), 1000)
    },
    savedAvatar() {
      this.saving = false;
      this.saved = true;
    }
  },
}
</script>

<style scoped>

.btn-info {
  border-color: #1EDDB8 !important;
  background-color: #3DDDDA !important;
}

#dishpicta {
  position: absolute;
  margin-left: 50%;
  transform: translate(-50%, -50%);
}

</style>
