<template>
  <div
      id="register"
      class="register bg"
      :class="setBackgroundSize"
  >
    <br>
    <v-container class="fill-height">
      <v-flex
          xs11
          md6
          style="margin: auto; padding-top: 10px"
      >
        <v-card
            v-show="pageNumber === 1"
            color="rgba(255, 255, 255, 0.95)"
            style="margin-top: 15px"
        >
          <p
              class="h4 mb-4"
              align="middle"
              style="padding-top: 20px"
          >
            {{ $t('register') }}
          </p>

          <v-form
              ref="form"
              lazy-validation
              style="margin: 20px"
          >
            <v-text-field
                v-model="user.email"
                prepend-icon="alternate_email"
                type="email"
                label="Email"
                outlined
                dense
                color="primary"
                :rules="[rules.required]"
                required
            />

            <v-text-field
                v-model="user.username"
                prepend-icon="person"
                type="email"
                :label="$t('username')"
                :rules="[rules.required]"
                outlined
                dense
                color="primary"
                required
            />

            <v-text-field
                v-model="beforeHash"
                prepend-icon="lock"
                type="password"
                :label="$t('password')"
                :rules="[rules.required]"
                outlined
                dense
                color="primary"
                required
            />

            <v-text-field
                v-model="confirmPassword"
                prepend-icon="lock"
                type="password"
                :label="$t('passwordconfirmation')"
                :rules="[rules.required]"
                outlined
                dense
                color="primary"
                required
                @keypress.enter="swapPage"
            />

            <div style="text-align: center">
              <v-btn
                  id="nextButton"
                  color="secondary"
                  class="my-4 px-16"
                  @click="swapPage"
              >
                {{ $t('nextstep') }}
              </v-btn>
            </div>
          </v-form>

          <div
              class="text-center"
              style="padding-bottom: 8px"
          >
            <p>
              {{ $t('alreadymember') }}
              <router-link class="primary--text" :to="{ name: 'login' }">
                {{ $t('connect') }}
              </router-link>
            </p>
          </div>
        </v-card>

        <v-card
            v-show="pageNumber === 2"
            color="rgba(255, 255, 255, 0.95)"
            style="margin-top: 15px"
        >
            <v-btn
                    icon
                    @click="pageNumber = 1"
            >
              <v-icon>arrow_left</v-icon>
            </v-btn>
            <p
                    class="h4 mb-4"
                    align="middle"
            >
              {{ $t('register') }}
            </p>
          <v-form
              ref="form"
              lazy-validation
              style="margin: 20px"
          >
            <v-text-field
                v-model="user.name"
                prepend-icon="person"
                type="name"
                :label="$t('firstname')"
                :rules="[rules.required]"
                outlined
                dense
                color="primary"
                style="width: 95%"
                required
            />

            <v-text-field
                v-model="user.familyName"
                prepend-icon="person"
                type="familyName"
                :label="$t('lastname')"
                :rules="[rules.required]"
                outlined
                dense
                color="primary"
                style="width: 95%"
                required
            />

            <v-text-field
                v-model="user.phone"
                v-mask="'##########'"
                prepend-icon="phone"
                type="phone"
                :label="$t('phone')"
                :rules="[rules.required]"
                outlined
                dense
                color="primary"
                style="width: 95%"
                required
            />

            <v-checkbox v-model="checkbox1" :label="'En cochant cette case vous acceptez les conditions d\'utilisation de Eatoo'">
            </v-checkbox>

            <div style="text-align: center">
              <v-btn
                  id="validButton"
                  width="90%"
                  color="secondary"
                  class="my-4 px-16"
                  @click="validAction"
                  :disabled="checkbox1 === false"
              >
                {{ $t('register') }}
              </v-btn>
            </div>

          </v-form>

          <div
              class="text-center"
              style="padding-bottom: 8px"
          >
            <p>
              {{ $t('alreadymember') }}
              <router-link class="primary--text" :to="{ name: 'login' }">
                {{ $t('connect') }}
              </router-link>
            </p>
          </div>
        </v-card>
      </v-flex>
    </v-container>
  </div>
</template>

<script>
import sha256 from 'js-sha256'

export default {
  name: 'FormsPage',
  components: {},
  data() {
    return {
      user: {
        username: '',
        name: '',
        familyName: '',
        email: '',
        password: '',
        phone: '',
      },
      beforeHash: '',
      checkbox1: false,
      confirmPassword: '',
      pageNumber: 1,
      percentString: "1%",
      percentValue: 3,
      errorMessage: '',
      rules: {
        required: value => !!value || 'Required.',
      },
      reg: /^(([^<>()\\[\]\\.,;:\s@"]+(\.[^<>()\\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,24}))$/,
      regexPhone: /^((\+)33|0)[6-7](\d{2}){4}$/,
    }
  },
  methods: {
    /**
     * Allow swap page in the card body
     */
    swapPage() {
      if (!this.user.email || !this.user.username || !this.beforeHash || !this.confirmPassword) {
        this.$notify({
          group: 'test',
          type: 'error',
          text: this.$t('registererror5')
        });
        return;
      }
      if (this.reg.test(this.user.email) === false) {
        this.$notify({
          group: 'test',
          type: 'error',
          text: this.$t('registererror4')
        });
        return;
      }
      if (this.user.username.length < 3) {
        this.$notify({
          group: 'test',
          type: 'error',
          text: this.$t('registererror8')
        });
        return;
      }
      if (this.beforeHash !== this.confirmPassword) {
        this.$notify({
          group: 'test',
          type: 'error',
          text: this.$t('registererror6')
        });
        return;
      } else if (this.beforeHash.length < 6) {
        this.$notify({
          group: 'test',
          type: 'error',
          text: this.$t('registererror7')
        });
        return;
      }
      this.pageNumber = 2;
    },
    /**
     * Allow to valid sign up request
     */
    validAction() {
      if (!this.user.name || !this.user.familyName || !this.user.phone) {
        this.$notify({
          group: 'test',
          type: 'error',
          text: this.$t('registererror5')
        });
        return;
      }
      if (!this.regexPhone.test(this.user.phone)) {
        this.$notify({
          group: 'test',
          type: 'error',
          text: this.$t('registererror1')
        });
        return;
      }
      if (this.user.phone.length !== 10) {
        this.$notify({
          group: 'test',
          type: 'error',
          text: this.$t('registererror1')
        });
        return;
      }
      this.user.password = sha256(this.beforeHash);
      this.$store.dispatch('register', this.user)
          .then(() => {
            this.$router.push('/secure');
            this.$notify({group: 'test', type: 'success', text: this.$t('connected')});
          })
          .catch(err => {
            if (err.response.data.message.includes('email'))
              this.errorMessage = this.$t('registerErrorMessage.emailAlreadyTaken');
            else if (err.response.data.message.includes('username'))
              this.errorMessage = this.$t('registerErrorMessage.usernameAlreadyTaken');
            else
              this.errorMessage = this.$t('registererror2');
            this.$notify({group: 'test', type: 'error', text: this.errorMessage});
          })
    },
    connect: function () {
      this.$router.push('/login')
    },
  },

  computed: {
    setBackgroundSize() {
      return {
        'setBackgroundHeight-lg': this.$vuetify.breakpoint.lgAndUp,
        'setBackgroundHeight-md': this.$vuetify.breakpoint.mdAndDown,

      }
    }
  }
}
</script>

<style scoped>
body, html {
  height: 100%;
}

.bg {
  /* The image used */
  background-image: url("../assets/background.jpg");

  /* Full height */
  margin-top: -64px;
  height: calc(100vh - 361px);

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.setBackgroundHeight-lg {
  height: calc(100vh - 220px) !important;
}

.setBackgroundHeight-md {
  height: calc(100vh + 64px) !important;
}

</style>
