<template>
  <v-container
    fluid
    style="margin-top: -64px;"
    class="pa-0"
  >
    <v-carousel
      cycle
      :height="$vuetify.breakpoint.mdAndUp ? 350 : 150"
      hide-delimiter-background
      :show-arrows="false"
    >
      <v-carousel-item
        v-for="(s, i) in slides"
        :key="i"
        :src="s.src"
      />
    </v-carousel>
    <v-row
      style="background: #FAFAFA"
      class="mx-4"
    >
      <v-col
        cols="12"
        md="3"
        lg="2"
      >
        <v-expansion-panels
          v-model="panel"
          permanent
          multiple
        >
          <v-expansion-panel
            v-for="(cat, k) in ingredient"
            :key="k"
          >
            <v-expansion-panel-header>{{ cat.name }}</v-expansion-panel-header>
            <v-expansion-panel-content>
              <v-checkbox
                v-for="(ing, j) in cat.data"
                :key="j"
                :label="ing"
                hide-details
                color="primary"
                @change="selectedIngredient(k, j)"
              />
            </v-expansion-panel-content>
          </v-expansion-panel>
        </v-expansion-panels>
      </v-col>

      <v-col
        cols="12"
        md="9"
        lg="10"
        class="px-4 px-md-12"
      >
        <v-toolbar
          right
          elevation="0"
          color="#FAFAFA"
          flat
          dense
          class="my-8"
        >
          <v-row>
            <v-col cols="12" md="6" class="pl-md-0 px-0 px-md-3">
              <v-text-field
                v-model="dishResearch"
                hide-details
                dense
                append-icon="search"
                outlined
                color="primary"
                :placeholder="$t('ingredientSearch')"
                @keypress.enter="searchDish()"
                @click:append="searchDish()"
              />
            </v-col>
            <v-col cols="12" md="6" class="pr-md-0 px-0 px-md-3">
              <vuetify-algolia-places
                v-model="locResearch"
                append-icon="near_me"
                :placeholder="$t('localisationSearch')"
                flat
                hide-details
                dense
                outlined
                :language="this.$i18n.locale === 'fr-FR' ? 'fr' : 'en'"
                type="city"
              />
            </v-col>
          </v-row>
        </v-toolbar>

        <v-btn
          v-if="false"
          style="margin: 3px 20px"
          color="#638548"
          rounded
          outlined
          small
          @click="price = !price"
        >
          <span>{{ priceSelection() }}</span>
        </v-btn>

        <v-card
          v-if="false || price"
          v-click-outside="closePriceCard"
          style="position: absolute; z-index: 100"
          width="300px"
        >
          <v-card-title>{{ $t('price') }}</v-card-title>
          <v-card-text>
            Minimum <span style="color: #638548;"><b>{{ priceRange[0] }}</b> €</span><span
              style="color: white"
            >_______</span>Maximum <span style="color: #638548;">
            <b>{{ priceRange[1] }}</b> €
          </span>
          </v-card-text>
          <v-card-actions>
            <vue-slider
              v-model="priceRange"
              :interval="0.1"
              width="260px"
              :min="0"
              :max="10"
            />
          </v-card-actions>
          <v-card-actions>
            <v-btn
              text
              small
              type="error"
              @click="priceRange = [0, 10]"
            >
              {{ $t('reset') }}
            </v-btn>
            <v-spacer />
            <v-btn
              text
              small
              style="color: #638548"
              @click="price = false"
            >
              {{ $t('apply') }}
            </v-btn>
          </v-card-actions>
        </v-card>

        <v-row>
          <v-col
            v-for="dish in dishes"
            :key="dish.title"
            cols="12"
            md="6"
            lg="3"
          >
            <v-hover v-slot="{ hover }" open-delay="50">
              <v-card
                color="#EEE"
                class="pt-0 px-0 pb-2"
                @click="saveActualDishe(dish)"
              >
                <v-card-text class="text-center pa-0" style="position: relative">
                  <v-fade-transition>
                    <v-overlay color="black" :opacity="0.5" absolute v-show="hover">
                      <v-icon size="72">shopping_cart</v-icon>
                    </v-overlay>
                  </v-fade-transition>
                  <v-img
                    v-if="dish.dishPictureUrl !== ''"
                    :src="dish.dishPictureUrl"
                    height="200"
                  />
                  <div
                    v-else
                    style="height: 200px; padding-top: 50px;"
                  >
                    <v-icon size="128">
                      photo_camera
                    </v-icon>
                  </div>
                </v-card-text>
                <v-card-title class="d-flex text-h6">
                  <span>{{ dish.dishName }}</span>
                  <v-spacer />
                  <span class="grey--text text--darken-2">{{ dish.price + ' €' }}</span>
                </v-card-title>
                <v-card-text class="grey--text text--darken-4 text-subtitle-1 my-0 py-0">
                  {{ $t('units') }} : {{ dish.quantity }}
                </v-card-text>
                <v-card-text class="text-subtitle-1 grey--text text--darken-4 d-flex mt-0 mb-6 py-0">
                  {{ dish.seller.username }}
                  <v-spacer />
                  <span class="grey--text text--darken-2" v-if="userLoc.lat !== null && userLoc.long !== null">{{ distance(userLoc.lat, userLoc.long, dish.localization[0].latitude, dish.localization[0].longitude, 'K') + ' Km' }}</span>
                </v-card-text>
              </v-card>
            </v-hover>
          </v-col>
        </v-row>
      </v-col>
    </v-row>


    <v-dialog
      v-model="modal"
      max-width="600px"
      :persistent="commandConfirm"
    >
      <template v-slot:activator="{ on }" />
      <v-card v-if="!commandConfirm">
        <v-card-title class="text-h6 text-center d-flex">
          ({{ tmpDishe.deliveryHour }}) {{ tmpDishe.dishName }}
          <v-spacer />
          <v-btn
            icon
            @click="modal = false"
          >
            <v-icon>close</v-icon>
          </v-btn>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-row>
              <v-col cols="12">
                <h1 class="text-subtitle-1 font-weight-bold grey--text text--darken-3 mb-2">
                  Ingrédients
                </h1>
                <v-chip
                  v-for="(i, index) in ingredientsArray"
                  :key="index"
                  outlined
                  color="primary"
                  class="mr-2 mb-2 text-body-1"
                >
                  {{ i }}
                </v-chip>
              </v-col>
              <v-col
                cols="12"
                md="6"
              >
                <v-select
                  v-model="numberValue"
                  :items="orderDishQuantityOptions"
                  hide-details
                  outlined
                  dense
                  :label="$t('units')"
                />
              </v-col>
              <v-col
                cols="12"
                md="6"
              >
                <v-text-field
                  solo
                  flat
                  readonly
                  color="primary"
                  outlined
                  dense
                  hide-details
                  :label="$t('price')"
                  :value="calculatedPrice()"
                  required
                />
              </v-col>
            </v-row>
          </v-container>
        </v-card-text>
        <v-card-actions class="justify-center">
          <v-btn
            color="secondary"
            class="mb-4 pa-6"
            @click="saveModification"
          >
            {{ $t('order') }}
            <v-icon right>shopping_cart</v-icon>
          </v-btn>
        </v-card-actions>
      </v-card>
      <v-card
        v-else
        raised
      >
        <v-card-title class="text-h6 text-center d-flex">
        </v-card-title>
        <v-card-text>
            <h3 style="text-align: center; margin-top: 30px">
              {{ $t('orderCost') }}
            </h3>
            <div>
              <h2 style="text-align: center; margin-top: 50px">
                {{ calculatedPrice() }}
              </h2>
            </div>
            <h3 style="text-align: center; margin-top: 50px">
              {{ $t('payementMethod') }}
            </h3>
            <hr
              class="hr-dark"
              style="width: 50%; margin-left: 25%"
            >
            <div>
              <div ref="paypal"></div>
            </div>
            <v-card-actions class="justify-center">
              <v-btn
                      class="btn btn-block my-4 px-4 px-md-12 "
                      @click="closeTaMere()"
              > {{ $t('cancel')}}
              </v-btn>

              <v-btn
                      id="valid"
                      color="secondary"
                      class="btn btn-block my-4 px-4 px-md-12"
                      @click="payment()"
              >
                {{ $t('validate') }}
              </v-btn>
            </v-card-actions>
        </v-card-text>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
import dayjs from 'dayjs'
import '@/css/default.css'
import VueSlider from 'vue-slider-component'
import vClickOutside from 'v-click-outside'

export default {
  name: "Secure",
  components: {
    VueSlider
  },
  directives: {
    clickOutside: vClickOutside.directive
  },
  data() {
    return {
      slides: [
        {
          src: 'https://voyage-onirique.com/wp-content/uploads/2020/05/nourriture-Asiatique-scaled.jpg',
        },
        {
          src: 'https://voyage-onirique.com/wp-content/uploads/2018/09/722737.jpg',
        },
        {
          src: 'https://www.mexique-voyages.com/wp-content/uploads/voyage-mexique-24-1280x800.jpeg',
        },
      ],
      dishes: [],
      price: false,
      priceRange: [0, 10],
      priceFormatter: null,
      dishResearch: "",
      locResearch: null,
      modal: false,
      tmpDishe: {},
      tmpIndex: 0,
      numberValue: 1,
      finalPrice: 0,
      selectedIng: "",
      selectedLoc: "",
      commandConfirm: false,
      panel: [],
      ingredient: {
        "0": {
          "name": "Viandes & Poissons",
          "data": [
            "Poulet", "Boeuf", "Huitre", "Saumon", "Sole"
          ],
        },
        "1": {
          "name": "Fruits & Légumes",
          "data": [
            "Tomate", "Poivron", "Courgette", "Salade", "Concombre", "Haricot vert", "Flageolet", "Oignons"
          ],
        },
        "2": {
          "name": "Produits laitiers & Oeuf",
          "data": [
            "Lait", "Fromage", "Oeuf"
          ],
        },
        "3": {
          "name": "Epicerie salée",
          "data": [
            "Huile", "Vinaigre", "Pâtes", "Riz", "Olive", "Sauce"
          ],
        },
        "4": {
          "name": "Epicerie sucrée",
          "data": [
            "Sucre", "Chocolat", "Confiserie"
          ],
        },
        "5": {
          "name": "Condiments",
          "data": [
            "Sel", "Poivre", "Curry", "Paprika", "Persil", "Ail"
          ],
        },
      },
      userLoc: {
        lat: '',
        long: ''
      },
      product: {
        price: 5,
        description: "Eatoo",
        img: ""
      },
      loaded: false,
    }
  },
  computed: {
    orderDishQuantityOptions () {
      if (!this.tmpDishe) {
        return []
      }
      const arr = new Array(this.tmpDishe.quantity)
      for (let i = 0; i < this.tmpDishe.quantity; i++) {
        arr[i] = i + 1;
      }
      return arr
    },
    ingredientsArray () {
      if (!this.tmpDishe || !this.tmpDishe.ingredients) {
        return []
      }
      return this.tmpDishe.ingredients.split(';')
    }
  },
  mounted() {
    this.popupItem = this.$el

    const token = localStorage.getItem('token');
    this.$store.dispatch('getMe', token)
            .then((resp) => {
              this.userLoc.lat = resp.data.latitude;
              this.userLoc.long = resp.data.longitude;
            })
            .catch(err => {
              err;
            })

    this.$store.dispatch('allDish')
        .then((resp) => {
          const user = this.$store.getters['userLoggedIn']
          const dishes = resp.data

          const now = dayjs()
          this.dishes = dishes.filter((dish) => dish.userId !== user.id).filter((dish) => {
            const [day, month, year] = dish.deliveryDate.split('/')
            const date = dayjs()
              .date(parseInt(day, 10))
              .month(parseInt(month, 10) - 1)
              .year(parseInt(year, 10))
            return date.isAfter(now)
          })
        })
        .catch((err) => {
          console.log(err)
          this.$notify({group: 'test', type: 'error', text: this.$t('impossibletoload')});
        })
  },
  created() {
    this.priceFormatter = value => `${value}€`
  },
  methods: {
    setLoaded: function() {
      this.loaded = true;
      window.paypal
              .Buttons({
                createOrder: (data, actions) => {
                  return actions.order.create({
                    purchase_units: [
                      {
                        description: this.product.description,
                        amount: {
                          currency_code: "USD",
                          value: this.product.price
                        }
                      }
                    ]
                  });
                },
                onApprove: async (data, actions) => {
                  const order = await actions.order.capture();
                  this.paidFor = true;
                  console.log(order);
                },
                onError: err => {
                  console.log(err);
                }
              })
              .render(this.$refs.paypal);
    },
    closeTaMere() {
      this.commandConfirm = false;
      this.modal = false;
    },
    distance(lat1, lon1, lat2, lon2, unit) {
        var radlat1 = Math.PI * lat1/180;
        var radlat2 = Math.PI * lat2/180;
        var theta = lon1-lon2;
        var radtheta = Math.PI * theta/180;
        var dist = Math.sin(radlat1) * Math.sin(radlat2) + Math.cos(radlat1) * Math.cos(radlat2) * Math.cos(radtheta);
        if (dist > 1) {
          dist = 1;
        }
        dist = Math.acos(dist);
        dist = dist * 180/Math.PI;
        dist = dist * 60 * 1.1515;
        if (unit==="K") { dist = dist * 1.609344 }
        if (dist > 1)
          return Math.round(dist);
        else
          return this.$t('lessThanOne')
    },
    payment() {


      this.modal = false;
      this.commandConfirm = false
      this.$store.dispatch('createOrder', {
        "sellerId": this.tmpDishe.userId,
        "dishId": this.tmpDishe.id,
        "quantity": this.numberValue
      })
              .then((resp) => {
                resp;
              })
              .catch(err => {
                err;
                this.$notify({group: 'test', type: 'error', text: this.$t('impossibletosave')});
              })
    },
    searchDish() {
      const words = this.dishResearch.split(' ')
      let tmpStr = ""

      for (let i = 0; i < words.length; i++) {
        tmpStr = tmpStr.concat(words[i], ';')
      }

      let searchReq = tmpStr.concat(this.selectedIng)
      if (searchReq.slice(-1) === ';')
        searchReq = searchReq.slice(0, -1)

      this.$store.dispatch('searchDish', {"dishName": searchReq})
          .then((resp) => {
            this.dishes = resp.data;
          })
          .catch((err) => {
            console.error(err)
            this.$notify({group: 'test', type: 'error', text: this.$t('impossibletoload')});
          })
    },
    closePriceCard(event) {
      event;
      this.price = false;
    },
    priceSelection() {
      if (this.priceRange[0] === 0 && this.priceRange[1] === 10)
        return this.$t('price')
      else if (this.priceRange[0] === 0 && this.priceRange[1] !== 10)
        return this.$t('andLess') + ' ' + this.priceRange[1] + '€'
      else if (this.priceRange[0] !== 0 && this.priceRange[1] === 10)
        return '' + this.priceRange[0] + '€' + ' ' + this.$t('andMore')
      else
        return '' + this.priceRange[0] + '€ - ' + this.priceRange[1] + '€'
    },
    selectedIngredient(categorie, ing) {
      if (this.selectedIng.includes(this.ingredient["" + categorie].data[ing]))
        this.selectedIng = this.selectedIng.replaceAll(this.ingredient["" + categorie].data[ing] + ';', '')
      else
        this.selectedIng = this.selectedIng.concat(this.ingredient["" + categorie].data[ing], ';')


      let searchReq = ""

      if (this.selectedIng.slice(-1) === ';')
        searchReq = this.selectedIng.slice(0, -1)
      else
        searchReq = this.selectedIng


      this.$store.dispatch('searchDish', {"ingredients": searchReq})
          .then((resp) => {
            this.dishes = resp.data;
          })
          .catch(err => {
            err;
            this.$notify({group: 'test', type: 'error', text: this.$t('impossibletoload')});
          })
    },
    saveActualDishe(dishe) {
      this.modal = true;
      this.tmpDishe = dishe;
    },
    saveModification() {
      this.product.price = this.numberValue * parseFloat(this.tmpDishe.price).toFixed(2)
      const script = document.createElement("script");
      script.src =
              "https://www.paypal.com/sdk/js?client-id=AdEZhpS3XWbXhHVrLAui7_T6s-Adlf6F4SxiWroADs93BLyZp9Dc7ElwqLGdM7-eJqoMEabyh4TyvNra";
      script.addEventListener("load", this.setLoaded);
      document.body.appendChild(script);
      this.commandConfirm = true;
    },
    giveTopic(topics) {
      let res = topics.split(";")
      if (res.length >= 3)
        return "" + res[0] + ', ' + res[1] + ', ' + res[2] + '..'
      else if (res.length === 2)
        return "" + res[0] + ', ' + res[1] + '..'
      else if (res.length === 1)
        return "" + res[0]
      else
        return topics
    },
    calculatedPrice() {
      return (this.numberValue * parseFloat(this.tmpDishe.price)).toFixed(2) + ' €';
    }
  }
}
</script>

<style scoped>
</style>
