<template>
  <div class="team">
    <div class="element-centrer">
      <h1 style="color: white; text-align: center">
        {{ $t('team') }}
      </h1>
      <hr style=" height: 2px; border: none; color: #333; background-color: white;">
    </div>
    <v-img
      class="v-responsive"
      style="z-index: 1"
      max-height="500"
      src="@/assets/Food_home.png"
    />
    <v-container class="my-5">
      <v-layout
        row
        wrap
        justify-space-around
      >
        <v-flex
          v-for="person in team"
          :key="person.name"
          xs12
          sm6
          md4
          lg4
          height="200px"
        >
          <v-card
            height="300"
            flat
            class="text-center ma-3"
          >
            <v-responsive class="pt-4">
              <v-avatar size="100">
                <img
                  :src="person.avatar"
                  alt=""
                >
              </v-avatar>
            </v-responsive>
            <v-card-text>
              <div class="subheading">
                {{ person.name }}
              </div>
              <div class="grey--text">
                {{ person.role }}
              </div>
            </v-card-text>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
    export default {
        data() {
            return {
                team: [
                    {name: 'Maxime Breuil', role: 'Développeur Back', avatar: '/Maxime_Photo.jpeg'},
                    {name: 'Mathys Laviéville', role: 'Développeur Back', avatar: '/Mathys_Photo.jpg'},
                    {name: 'Thomas Gaumont', role: 'Développeur Front', avatar: '/Thomas_Photo.jpeg'},
                    {name: 'Ludovic Vasseur', role: 'Développeur Front', avatar: '/Ludovic_Photo.jpeg'},
                    {name: 'Simon Lejeune', role: 'Développeur IOS', avatar: '/Simon_Photo.jpeg'},
                    {name: 'Quentin Gandon', role: 'Développeur IOS', avatar: '/Quentin_Photo.jpeg'},
                    {name: 'Mathieu Fenyes', role: 'Développeur Cybersécurité', avatar: '/Mathieu_Photo.jpeg'},
                ]
            }
        }
    }
</script>

<style scoped>
    .subheading {
        color: black;
        font-weight: bold;
    }

    .grey--text {
        color: grey;
    }

    .element-centrer {
        z-index: 2;
        position: absolute;
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
</style>
