<template>
  <v-footer
    color="#1A1A1A"
    relative
    class="font-weight-medium pb-0"
  >
    <v-container
      align="center"
      style="width: 100%;"
    >
      <v-row align="center" class="pb-0">
        <v-col cols="12" md="4">
          <v-card
            class="footer-card"
            color="#1A1A1A"
            flat
            dark
          >
            <h5 class="text-h6">
              Découvrir Eatoo
            </h5>
            <v-btn small text to="/about">
              {{ $t('about') }}
            </v-btn>
            <br>
            <v-btn small text to="/team">
              {{ $t('team') }}
            </v-btn>
            <br>
            <v-btn small text to="/contact">
              {{ $t('contact') }}
            </v-btn>
          </v-card>
        </v-col>
        <v-col cols="12" md="4">
          <v-card
            class="footer-card"
            color="#1A1A1A"
            flat
            dark
          >
            <h5 class="text-h6">
              Mentions légales
            </h5>
            <v-btn small text to="/privacy">
              {{ $t('privacy') }}
            </v-btn>
            <br>
            <v-btn small text to="/conditions">
              {{ $t('conditions') }}
            </v-btn>
          </v-card>
        </v-col>
        <v-col cols="12" md="4">
          <v-card
            class="footer-card"
            color="#1A1A1A"
            flat
            dark
          >
            <h5 class="text-h6">
              {{ $t('apps') }}
            </h5>
            <img
              v-if="this.$i18n.locale === 'fr-FR'"
              src="../assets/Download_on_the_App_Store_Badge_FR.svg"
              href="#"
              alt="img_ios"
              class="ml-3"
              style="border-radius: 0px !important;"
            >
            <img
              v-if="this.$i18n.locale === 'en-GB'"
              src="../assets/Download_on_the_App_Store_Badge_US-UK.svg"
              href="#"
              alt="img_ios"
              class="ml-3"
              style="margin-left: 70px; border-radius: 0px !important;"
            >
          </v-card>
        </v-col>
        <v-col
          cols="12"
          class="pb-0"
        >
          <v-card
            style="background: transparent !important; box-shadow: initial !important;"
            class="justify-center align-center d-flex"
          >
            <v-row class="align-center">
              <v-col class="pa-0" />
              <v-col class="pa-0 white--text text-center d-flex justify-center">
                  <a
                    href="https://www.facebook.com/EatooApp/"
                    target="_blank"
                    class="button ml-4 mr-2"
                  >
                    <v-img
                      height="40px"
                      width="40px"
                      src="@/assets/facebook.png"
                    />
                  </a>
                  <a
                    href="https://twitter.com/EatooApp"
                    target="_blank"
                    class="button mx-2"
                  >
                    <v-img
                      height="40px"
                      width="40px"
                      src="@/assets/twitter.png"
                    />
                  </a>
              </v-col>
              <v-col class="pa-0 white--text">
                <div style="width: 268px;margin: auto" class="d-flex justify-end">
                 © {{ new Date().getFullYear() }} Copyright — <strong>Eatoo</strong>
                </div>
              </v-col>
            </v-row>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </v-footer>
</template>

<script>
export default {
  name: "Footer",
  methods: {}
}
</script>

<style scoped lang="scss">
.element-center {
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.element-left {
  float: left;
  z-index: 2;
  left: 50px;
  position: absolute;
}

.element-right {
  float: right;
  z-index: 2;
  right: 50px;
  position: absolute;
}

.rounded-card{
  border-radius: 20px !important;
}

.footer-card {
  margin:auto;
  height: 120px !important;
  width: 268px !important;

  h5.text-h6 {
    border-bottom: 2px solid white!important;
    margin-left: 12px;
    margin-right: 12px;
    padding-bottom: 4px;
    margin-bottom: 16px;
  }
}

</style>
