<template>
  <v-footer
    color="#1A1A1A"
    relative
    class="font-weight-medium pb-4 d-flex flex-column align-start"
  >
    <v-btn text small to="/about" dark>
      {{ $t('about') }}
    </v-btn>
    <v-btn text small to="/team" dark>
      {{ $t('team') }}
    </v-btn>
    <v-btn text small to="/contact" dark>
      {{ $t('contact') }}
    </v-btn>
    <v-btn text small to="/privacy" dark>
      {{ $t('privacy') }}
    </v-btn>
    <v-btn text small to="/conditions" dark class="mb-3">
      {{ $t('conditions') }}
    </v-btn>
    <img
      v-if="this.$i18n.locale === 'fr-FR'"
      src="../assets/Download_on_the_App_Store_Badge_FR.svg"
      class="ml-2"
      href="#"
      alt="img_ios"
    >
    <img
      v-if="this.$i18n.locale === 'en-GB'"
      src="../assets/Download_on_the_App_Store_Badge_US-UK.svg"
      class="ml-2"
      href="#"
      alt="img_ios"
    >
    <div class="justify-center align-center d-flex mt-6 mb-2 ml-2 pr-4" style="width: 100%">
      <div class="d-flex">
        <a
          href="https://www.facebook.com/EatooApp/"
          target="_blank"
          class="button mr-2"
        >
          <v-img
            height="40px"
            width="40px"
            src="@/assets/facebook.png"
          />
        </a>
        <a
          href="https://twitter.com/EatooApp"
          target="_blank"
          class="button mx-2"
        >
          <v-img
            height="40px"
            width="40px"
            src="@/assets/twitter.png"
          />
        </a>
      </div>
      <v-spacer />
      <div class="white--text text-body-2">
        © {{ new Date().getFullYear() }} Copyright — <strong>Eatoo</strong>
      </div>
    </div>
  </v-footer>
</template>

<script>
export default {
  name: "MobileFooter",
  methods: {}
}
</script>

<style scoped>
.element-center {
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.element-left {
  float: left;
  z-index: 2;
  left: 50px;
  position: absolute;
}

.element-right {
  float: right;
  z-index: 2;
  right: 50px;
  position: absolute;
}

.rounded-card{
  border-radius: 20px !important;

}

</style>
