<template>
  <v-navigation-drawer
    v-if="$vuetify.breakpoint.smAndDown"
    :value="value"
    style="z-index: 99999"
    app
    right
    @input="$emit('input', $event)"
  >
    <template #append>
      <div class="d-flex">
        <v-btn
          class="grow ma-1"
          color="primary"
          :outlined="$i18n.locale === 'fr-FR'"
          @click="$i18n.locale = 'en-GB'"
        >
          English
        </v-btn>
        <v-btn
          class="grow ma-1"
          color="primary"
          :outlined="$i18n.locale !== 'fr-FR'"
          @click="$i18n.locale = 'fr-FR'"
        >
          Français
        </v-btn>
      </div>
    </template>
    <template v-if="!isLoggedIn">
      <v-list-item :to="{ name: 'home' }" exact>
        <v-list-item-title>
          {{ $t('home') }}
        </v-list-item-title>
      </v-list-item>
      <v-list-item :to="{ name: 'login'}">
        <v-list-item-title>
          {{ $t('connection') }}
        </v-list-item-title>
      </v-list-item>
      <v-list-item :to="{ name: 'register' }">
        <v-list-item-title>
          {{ $t('register') }}
        </v-list-item-title>
      </v-list-item>
    </template>
    <template v-else>
      <v-list-item :to="{ name: 'profil'}">
        <v-list-item-title>{{ $t('profil') }}</v-list-item-title>
      </v-list-item>
      <v-list-item :to="{ name: 'createdish' }">
        <v-list-item-title>{{ $t('createdish') }}</v-list-item-title>
      </v-list-item>
      <v-list-item :to="{ name: 'mydishes' }">
        <v-list-item-title>{{ $t('mydish') }}</v-list-item-title>
      </v-list-item>
      <v-list-item :to="{ name: 'myorders' }">
        <v-list-item-title>{{ $t('myorder') }}</v-list-item-title>
      </v-list-item>
      <v-list-item @click="logout">
        <v-list-item-title>{{ $t('logout') }}</v-list-item-title>
      </v-list-item>
    </template>
  </v-navigation-drawer>
</template>

<script>
  import {mapGetters} from "vuex";

export default {
  name: "MobileDrawer",
  props: {
    value: {
      type: Boolean,
      required: true
    }
  },
  computed: mapGetters(['isLoggedIn']),
  methods: {
    logout () {
      this.$store.dispatch('logout').then(() => this.$router.push('/'));
      this.$notify({group: 'test', type: 'success', text: this.$t('disconnected')});
    }
  }
}
</script>

<style scoped>

</style>
