<template>
  <v-app-bar
    id="navbar"
    app
    flat
    color="primary"
    style="z-index: 99999"
    :class="{ change_color: !transparentNavbar && scrollPosition >= 75 }"
    :style="transparentNavbar && scrollPosition < 75 ? 'background-color: transparent!important;border-color: transparent!important' : ''"
  >
    <v-toolbar-title class="d-none d-md-block">
      <div>
        <v-btn
          depressed
          style="max-height: 96px; height: 100%; width: 200px; background-color:transparent; overflow: hidden"
          :to="{ name: isLoggedIn ? 'secure' : 'home' }"
          active-class="no-active"
          exact
        >
          <v-img
            src="@/assets/Big_Logo_Eatoo.png"
            width="200"
          />
        </v-btn>
      </div>
    </v-toolbar-title>

    <v-spacer />

    <div v-if="$vuetify.breakpoint.mdAndUp">
      <v-menu
        transition="slide-y-transition"
        :offset-y="true"
        bottom
      >
        <template #activator="{ on }">
          <v-btn
            text
            class="mr-2"
            dark
            v-on="on"
          >
            <v-icon color="#f5f5f5" left>
              mdi-earth
            </v-icon>
            {{ i18nLocaleShort }}
          </v-btn>
        </template>
        <v-list>
          <v-list-item
            v-for="(item, index) in items"
            :key="index"
            @click="$i18n.locale = item.code"
          >
            <v-list-item-title>{{ item.title }}</v-list-item-title>
          </v-list-item>
        </v-list>
      </v-menu>


      <v-btn
        v-if="!isLoggedIn"
        text
        :to="{ name: 'login' }"
        color="white"
        class="mr-2"
      >
        {{ $t('connection') }}
      </v-btn>

      <v-btn
        v-if="!isLoggedIn"
        text
        :to="{ name: 'register' }"
        color="white"
        class="mr-2"
      >
        {{ $t('register') }}
      </v-btn>

      <template v-if="isLoggedIn">
        <v-menu
          transition="slide-y-transition"
          :offset-y="true"
          bottom
        >
          <template v-slot:activator="{ on }">
            <v-btn
              text
              color="gray"
              v-on="on"
            >
              <img
                style="height: 35px"
                src="Avatar.png"
              >
            </v-btn>
          </template>
          <v-list>
            <v-list-item :to="{ name: 'secure'}">
              <v-list-item-title>{{ $t('dishList') }}</v-list-item-title>
            </v-list-item>
            <v-list-item :to="{ name: 'createdish' }">
              <v-list-item-title>{{ $t('createdish') }}</v-list-item-title>
            </v-list-item>
            <v-list-item :to="{ name: 'mydishes' }">
              <v-list-item-title>{{ $t('mydish') }}</v-list-item-title>
            </v-list-item>
            <v-list-item :to="{ name: 'myorders' }">
              <v-list-item-title>{{ $t('myorder') }}</v-list-item-title>
            </v-list-item>
            <v-list-item :to="{ name: 'profil'}">
              <v-list-item-title>{{ $t('profil') }}</v-list-item-title>
            </v-list-item>
            <v-list-item @click="logout">
              <v-list-item-title>{{ $t('logout') }}</v-list-item-title>
            </v-list-item>
          </v-list>
        </v-menu>
      </template>
    </div>
    <template v-else>
      <v-btn
        icon
        dark
        @click="$emit('mobile-icon-click')"
      >
        <v-app-bar-nav-icon />
      </v-btn>
    </template>
  </v-app-bar>
</template>

<script>
import { mapGetters, mapState } from 'vuex';
export default {
  name: "NavBarLogout",
  data: () => ({
    items: [
      { title: 'English', code: 'en-GB' },
      { title: 'Français', code: 'fr-FR' }
    ],
    isLogged: false,
    windowWidth: window.innerWidth,
    scrollPosition: null,
  }),
  mounted() {
    window.addEventListener('resize', this.onResize);
    window.addEventListener('scroll', this.updateScroll);
  },

  beforeDestroy() {
    window.removeEventListener('resize', this.onResize);
    window.removeEventListener('scroll', this.updateScroll);
  },
  computed: {
    ...mapGetters(['isLoggedIn']),
    ...mapState('layout', ['transparentNavbar']),
    i18nLocaleShort () {
      return this.$i18n.locale === 'fr-FR' ? 'FR' : 'EN'
    }
  },
  methods: {
    onResize() {
      this.windowWidth = window.innerWidth
    },
    updateScroll() {
      this.scrollPosition = window.scrollY;
    },
    logout: function () {
      this.$store.dispatch('logout').then(() => this.$router.push('/'));
      this.$notify({group: 'test', type: 'success', text: this.$t('disconnected')});
    }
  }
}
</script>

<style scoped>
.my_nav >>> .v-toolbar__content {
  height: 300px !important;
}

.my_nav >>> .container {
  margin-left: 0px !important;
}

.change_color {
  background: #a4b989 !important;
}

.v-btn--active.no-active::before {
  opacity: 0 !important;
}

</style>
