<template>
  <div id="app">
    <v-app class="my-app">
      <NavBar @mobile-icon-click="drawer = true" />
      <MobileDrawer v-model="drawer" />
      <v-main>
        <router-view />
      </v-main>
      <notifications
        group="test"
        position="bottom center"
        class="mb-16"
        classes="text-subtitle-2 mb-2 py-2 px-4 white--text text-center"
      />
      <Footer v-if="$vuetify.breakpoint.mdAndUp"/>
      <MobileFooter v-else />
    </v-app>
  </div>
</template>

<script>
  import NavBar from '@/components/NavBar'
  import Footer from '@/components/Footer'
  import MobileDrawer from "./components/MobileDrawer";
  import MobileFooter from "./components/MobileFooter";

  export default {
    name: 'App',
    components: {
      MobileFooter,
      MobileDrawer,
      NavBar,
      Footer
    },
    data: () => ({
      drawer: false
    }),
    created: function () {
//      this.$http.interceptors.response.use(undefined, function (err) {
//        return new Promise(function (resolve, reject) {
//          resolve;
//          reject;
//          if (err.status === 401 && err.config && !err.config.__isRetryRequest) {
//            this.$store.dispatch('logout')
//          }
//          throw err;
//        });
//      });
      const token = localStorage.getItem('token');
      if (token) {
        this.$store.dispatch('getMe', token)
      } else {
        this.$store.dispatch('logout')
      }
    }
  }
</script>

<style>
  #app {
    height: 100%;
    max-width: 100%;
  }
</style>
